<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/public/css/content-styles.css">
        <!--
        <link rel="stylesheet" media="screen and (max-width: 600px)" href="/public/css/styles-small.css">
        <link rel="stylesheet" media="screen and (min-width: 601px) and (max-width: 1024px)" href="/public/css/styles-medium.css">
        <link rel="stylesheet" media="screen and (min-width: 1025px) and (max-width: 2560px)" href="/public/css/styles-large.css">
        -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
        <script src="/public/js/common/common_utility.js"></script>
        <script src="/public/js/common/common_variables.js"></script>
        <script>
            $(document).ready(function() {
                var employees = [];
                var plans = [];

                $.ajax({
                    url: "../../admin/contract/planStatus",
                    method: "POST",
                    success: function (data) {
                        if (data === 'NO SESSION') {
                            alert("세션이 만료되었습니다.");
                            window.parent.location.href = "./login";
                        } else if (data === 'NO DATA') {
                            alert("조회된 데이터가 없습니다.");
                        } else {
                            if (Array.isArray(data)) {
                                $.each(data, function(index, post) {
                                    plans.push({
                                        code:post.planId, 
                                        name:post.planKname, 
                                    });
                                });

                                createSelection($('.plan_id'), plans);
                            }
                        }
                    },
                    error: function (xhr, status, error) {
                        alert('서버 요청에 실패하였습니다.');
                    },
                });


                $.ajax({
                    url: "../../admin/employee/status",
                    method: "POST",
                    success: function (data) {
                        if (data === 'NO SESSION') {
                            alert("세션이 만료되었습니다.");
                            window.parent.location.href = "./login";
                        } else if (data === 'NO DATA') {
                            alert("조회된 데이터가 없습니다.");
                        } else {
                            if (Array.isArray(data)) {
                                $.each(data, function(index, post) {
                                    employees.push({
                                        code:post.empNo, 
                                        name:post.empName, 
                                    });
                                });

                                createSelection($('.contract_manager'), employees);
                            }
                        }
                    },
                    error: function (xhr, status, error) {
                        alert('서버 요청에 실패하였습니다.');
                    },
                });

                var search = function() {
                    clear();

                    var companyNo = $('.company_no').val();
                    var contractNo = $('.contract_no').val();

                    // 행 데이터 출력
                    $.ajax({
                        url: "../../user/contract/detail",
                        method: "POST",
                        data: {
                            companyNo: companyNo,
                            contractNo: contractNo,
                        },
                        success: function (data) {
                            if (data === 'NO SESSION') {
                                alert("세션이 만료되었습니다.");
                                window.parent.location.href = "./login";
                            } else if (data === 'NO DATA') {
                                alert("조회된 데이터가 없습니다.");
                            } else {

                                $('.cell_company_name').text(data.companyName);
                                $('.cell_contract_no').text(data.contractNo);
                                $('.cell_contract_name').text(data.contractName);
                                $('.cell_contract_date').text(data.contractDate);
                                $('.cell_contractor').text(data.contractor);
                                $('.cell_contract_service').text(contractServices[data.contractService]);
                                $('.cell_contract_div').text(contractDivs[data.contractDiv]);
                                $('.cell_contract_period').text(contractPeriods[data.contractPeriod]);
                                $('.cell_start_date').text(data.startDate);
                                $('.cell_end_date').text(data.endDate);
                                $('.cell_monetary_unit').text(monetaryUnits[data.monetaryUnit]);
                                $('.cell_exchange_rate').text(data.exchangeRate);
                                $('.cell_remark').text(data.remark);

                                const employee = employees.find(element => element.code === data.contractManager);
                                $('.cell_contract_manager').text(employee?employee.name:'');
                                
                                switch(data.contractDiv)
                                {
                                    case "L":
                                        viewExpandedChildren($('#view_license_content'));

                                        data.licenses.forEach(function(license, index){
                                            var newRow = $('.view_license tbody tr').first().clone().removeClass('hidden');

                                            $(newRow).find('.cell_license_no').text(license.licenseNo);
                                            $(newRow).find('.cell_license_type').text(licenseTypes[license.licenseType]);
                                            $(newRow).find('.cell_license_div').text(licenseDivs[license.licenseDiv]);
                                            $(newRow).find('.cell_license_start_date').text(license.startDate);
                                            $(newRow).find('.cell_license_end_date').text(license.endDate);
                                            $(newRow).find('.cell_license_count').text(license.licenseCount);
                                            $(newRow).find('.cell_unit_price').text(formatCurrency(license.unitPrice));
                                            $(newRow).find('.cell_license_amount').text(formatCurrency(license.amount));
                                            $(newRow).find('.cell_license_discounted_amount').text(formatCurrency(license.discountedAmount));
                                            $(newRow).find('.cell_license_actual_amount').text(formatCurrency(license.actualAmount));

                                            $('.view_license tbody').append(newRow);
                                        });
                                        break;
                                    case "D":
                                        viewExpandedChildren($('#view_odm_content'));
                                        
                                        data.odmContracts.forEach(function(odmContract, index){
                                            var newRow = $('.view_odm_contract tbody tr').first().clone().removeClass('hidden');

                                            $(newRow).find('.cell_odm_seq').text(odmContract.odmSeq);
                                            $(newRow).find('.cell_odm_cont_div').text(odmContractDivs[odmContract.odmContDiv]);
                                            $(newRow).find('.cell_pay_currency').text(monetaryUnits[odmContract.payCurrency]);
                                            $(newRow).find('.cell_pay_unit').text(payUnits[odmContract.payUnit]);
                                            $(newRow).find('.cell_pay_term_mo').text(odmContract.payTermMo);
                                            $(newRow).find('.cell_unit_price').text(odmContract.unitPrice);
                                            $(newRow).find('.cell_apply_date').text(odmContract.applyDate);

                                            $('.view_odm_contract tbody').append(newRow);
                                        });
                                        break;
                                    case "A":
                                        break;
                                    case "S":
                                        viewExpandedChildren($('#view_ships_content'));
                                        
                                        data.shipsContracts.forEach(function(shipsContract, index){
                                            var newRow = $('.view_ships_contract tbody tr').first().clone().removeClass('hidden');

                                            $(newRow).find('.cell_ship_seq').text(shipsContract.shipSeq);
                                            $(newRow).find('.cell_ship_name').text(shipsContract.shipName);
                                            $(newRow).find('.cell_imo_no').text(shipsContract.imoNo);
                                            $(newRow).find('.cell_equip_lent').text(useYn[shipsContract.equipLent]);
                                            $(newRow).find('.cell_ship_apply_start_date').text(shipsContract.applyStartDate);
                                            $(newRow).find('.cell_ship_apply_finish_date').text(shipsContract.applyFinishDate);

                                            const item = plans.find(element => element.code === shipsContract.planId);
                                            
                                            $(newRow).find('.cell_plan_name').text(item?item.name:'');

                                            $('.view_ships_contract tbody').append(newRow);
                                        });
                                        break;
                                }
                            }
                        },
                        error: function (xhr, status, error) {
                            alert('서버 요청에 실패하였습니다.');
                        },
                    });
                };

                $('.back').click(function() {
                    window.location.href = "../../view/contract?companyNo=" + $('.company_no').val();
                });

                var clear = function() {
                    $('.cell_company_name').text('');
                    $('.cell_contract_no').text('');
                    $('.cell_contract_name').text('');
                    $('.cell_contract_date').text('');
                    $('.cell_contractor').text('');
                    $('.cell_contract_service').text('');
                    $('.cell_contract_div').text('');
                    $('.cell_contract_period').text('');
                    $('.cell_contract_status').text('');
                    $('.cell_start_date').text('');
                    $('.cell_end_date').text('');
                    $('.cell_monetary_unit').text('');
                    $('.cell_exchange_rate').text('0');
                    $('.cell_contract_manager').text('');
                    $('.cell_remark').text('');

                    const licenseRows = document.querySelectorAll(".view_license tbody tr:not(:first-child)");
                    licenseRows.forEach(row => {
                        row.remove();
                    });
                    
                    const odmContractRows = document.querySelectorAll(".view_odm_contract tbody tr:not(:first-child)");
                    odmContractRows.forEach(row => {
                        row.remove();
                    });
                    
                    const shipsContractRows = document.querySelectorAll(".view_ships_contract tbody tr:not(:first-child)");
                    shipsContractRows.forEach(row => {
                        row.remove();
                    });
                };

                search();
            });
        </script>
    </head>
    <body>
        <form class="contract-detail-form">
            <input type="hidden" class="language" value="<%=session.language%>"/>
            <input type="hidden" class="company_no" value="<%=companyNo%>"/>
            <input type="hidden" class="contract_no" value="<%=contractNo%>"/>
            
            <div class="content">
                <div  class="contents-container">
                    <div class="title">계약 정보</div>
                    <div class="top-right-button">
                        <div class="align-container">
                            <input type="button" class="back" value="뒤로"/>
                        </div>
                    </div>
                    <div>
                        <table class="contract">
                            <thead>
                                <tr>
                                    <th width="120px" class="right-align">고객사</th>
                                    <td width="980px" class="cell_company_name" colspan="3"></td>
                                </tr>
                                <tr>
                                    <th width="120px" class="right-align">계약번호</th>
                                    <td width="380px" class="cell_contract_no"></td>
                                    <th width="120px" class="right-align">계약명</th>
                                    <td width="380px" class="cell_contract_name"></td>
                                </tr>
                                <tr>
                                    <th class="right-align">계약일자</th>
                                    <td class="cell_contract_date"></td>
                                    <th class="right-align">담당자</th>
                                    <td class="cell_contractor"></td>
                                </tr>
                                <tr>
                                    <th class="right-align">계약서비스</th>
                                    <td class="cell_contract_service"></td>
                                    <th class="right-align">계약구분</th>
                                    <td class="cell_contract_div"></td>
                                </tr>
                                <tr>
                                    <th class="right-align">계약기간</th>
                                    <td colspan="3">
                                        <div class="align-container">
                                            <p class="cell_contract_period"></p>
                                            <p class="cell_start_date"></p>
                                            <p>~</p>
                                            <p class="cell_end_date"></p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">화폐단위</th>
                                    <td class="cell_monetary_unit"></td>
                                    <th class="right-align">기준환율</th>
                                    <td class="cell_exchange_rate"></td>
                                </tr>
                                <tr>
                                    <th class="right-align">계약담당자</th>
                                    <td class="cell_contract_manager" colspan="3"></td>
                                </tr>
                                <tr>
                                    <th class="right-align">비고</th>
                                    <td class="cell_remark" style="height:100px" colspan="3"></td>
                                </tr>
                            </thead>
                        </table>
                    </div></br>
                    <div class="table-container">
                        <!-- License 시작 -->
                        <div id="view_license_content" class="hidden">
                            <div class="title">라이센스 목록</div>
                            <table class="view_license">
                                <thead>
                                    <tr>
                                        <th width="160px">번호</th>
                                        <th width="140px">타입</th>
                                        <th width="140px">구분</th>
                                        <th width="220px">기간</th>
                                        <th width="60px">수량</th>
                                        <th width="80px">단가</th>
                                        <th width="100px">금액</th>
                                        <th width="100px">할인금액</th>
                                        <th width="100px">실금액</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="hidden">
                                        <td class="cell_license_no" style="text-align: center;"></td>
                                        <td class="cell_license_type" style="text-align: center;"></td>
                                        <td class="cell_license_div" style="text-align: center;"></td>
                                        <td>
                                            <div class="align-container-center">
                                                <p class="cell_license_start_date"></p>~
                                                <p class="cell_license_end_date"></p>
                                            </div>
                                        </td>
                                        <td class="cell_license_count" style="text-align: right;"></td>
                                        <td class="cell_unit_price" style="text-align: right;"></td>
                                        <td class="cell_license_amount" style="text-align: right;"></td>
                                        <td class="cell_license_discounted_amount" style="text-align: right;"></td>
                                        <td class="cell_license_actual_amount" style="text-align: right;"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- License 끝 -->
                        <!-- ODM 계약 시작 -->
                        <div id="view_odm_content" class="hidden">
                            <div class="title">ODM 계약</div>
                            <table class="view_odm_contract">
                                <thead>
                                    <tr>
                                        <th width="60px">순번</th>
                                        <th width="160px">계약구분</th>
                                        <th width="140px">결제화폐</th>
                                        <th width="260px">결제단위</th>
                                        <th width="160px">결제주기(월)</th>
                                        <th width="160px">결제단가</th>
                                        <th width="160px">적용일</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="hidden">
                                        <td class="cell_odm_seq" style="text-align: center;"></td>
                                        <td class="cell_odm_cont_div" style="text-align: center;"></td>
                                        <td class="cell_pay_currency" style="text-align: center;"></td>
                                        <td class="cell_pay_unit" style="text-align: center;"></td>
                                        <td class="cell_pay_term_mo" style="text-align: center;"></td>
                                        <td class="cell_unit_price" style="text-align: right;"></td>
                                        <td class="cell_apply_date" style="text-align: center;"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- ODM 계약 끝 -->
                        <!-- 선박별 계약 시작 -->
                        <div id="view_ships_content" class="hidden">
                            <div class="title">선박별 구독계약</div>
                            <table class="view_ships_contract">
                                <thead>
                                    <tr>
                                        <th width="60px">순번</th>
                                        <th width="200px">선명</th>
                                        <th width="160px">IMO번호</th>
                                        <th width="200px">장비렌탈구분</th>
                                        <th width="300px">기간</th>
                                        <th width="180px">요금제</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="hidden">
                                        <td class="cell_ship_seq" style="text-align: center;"></td>
                                        <td class="cell_ship_name" style="text-align: center;"></td>
                                        <td class="cell_imo_no" style="text-align: center;"></td>
                                        <td class="cell_equip_lent" style="text-align: center;"></td>
                                        <td>
                                            <div class="align-container-center">
                                                <p class="cell_ship_apply_start_date"></p>~
                                                <p class="cell_ship_apply_finish_date"></p>
                                            </div>
                                        </td>
                                        <td class="cell_plan_name" style="text-align: left;"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- 선박별 계약 끝 -->
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>
