<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/public/css/content-styles.css">
        <!--
        <link rel="stylesheet" media="screen and (max-width: 600px)" href="/public/css/styles-small.css">
        <link rel="stylesheet" media="screen and (min-width: 601px) and (max-width: 1024px)" href="/public/css/styles-medium.css">
        <link rel="stylesheet" media="screen and (min-width: 1025px) and (max-width: 2560px)" href="/public/css/styles-large.css">
        -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
        <script src="/public/js/common/common_utility.js"></script>
        <script src="/public/js/common/common_variables.js"></script>
        <script>
            $(document).ready(function() {                
                var search = function() {
                    clearContract();

                    var companyNo = $('.s_company_no').val();
                    if (companyNo === '')
                    {
                        alert("고객사를 선택하세요.");
                        return;
                    }

                    $.ajax({
                        url: "../user/contract/status",
                        method: "POST",
                        data: {
                            companyNo: companyNo,
                        },
                        success: function (data) {

                            if (data === 'NO SESSION') {
                                alert("세션이 만료되었습니다.");
                                window.parent.location.href = "./login";
                            } else if (data === 'NO DATA') {
                                var newRow = '<tr><td colspan="9" class="left-align">조회된 데이터가 없습니다.</td></tr>';
                                $('.contract tbody').append(newRow);
                            } else {
                                if (Array.isArray(data)) {
                                    $.each(data, function(index, post) {
                                        var newRow = $('.contract tbody tr').first().clone().removeClass('hidden');

                                        $(newRow).find('.cell_contract_no').text(post.contractNo);
                                        $(newRow).find('.cell_contract_name').text(post.contractName);
                                        $(newRow).find('.cell_contract_date').text(post.contractDate);
                                        $(newRow).find('.cell_contractor').text(post.contractor);
                                        $(newRow).find('.cell_start_date').text(post.startDate);
                                        $(newRow).find('.cell_end_date').text(post.endDate);
                                        $(newRow).find('.cell_contract_status').text(contractStatus[post.contractStatus]);
                                        $(newRow).find('.cell_monetary_unit').text(post.monetaryUnit);
                                        $(newRow).find('.cell_exchange_rate').text(post.exchangeRate);
                                        $(newRow).find('.cell_actual_amount').text(formatCurrency(post.actualAmount));

                                        $('.contract tbody').append(newRow);
                                    });
                                }
                            }
                        },
                        error: function (xhr, status, error) {
                            var newRow = '<tr><td colspan="9" class="left-align">서버 요청에 실패하였습니다.</td></tr>';
                            $('.contract tbody').append(newRow);
                        },
                    });
                };

                $('.contract tbody').on('click', 'tr', function() {
                    $(this).addClass('selected').siblings().removeClass('selected');
                });

                $('.detail').click(function() {
                    var companyNo = $('.s_company_no').val();
                    if (companyNo === '')
                    {
                        alert("고객사를 선택하세요.");
                        return;
                    }

                    var selectedRow = $(".contract tr.selected");
                    if (selectedRow.length > 0) {
                        var contractNo = selectedRow.find('.cell_contract_no').text();
                        
                        window.location.href = "../view/contract/detail?companyNo=" + companyNo + "&contractNo=" + contractNo;
                    } else {
                        alert("목록에서 행을 선택하세요.");
                    }
                });

                var clearContract = function() {
                    const rows = document.querySelectorAll(".contract tbody tr:not(:first-child)");
                    rows.forEach(row => {
                        row.remove();
                    });
                }
                
                search();
            });
        </script>
    </head>
    <body>
        <form class="contract-status-form">
            <div class="content">
                <div>
                    <div class="title">조회 조건</div>
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th width="120px" class="right-align">고객사</th>
                                    <td width="240px" class="left-align">
                                        <input type="hidden" class="s_company_no" value="<%=session.user.companyNo%>"/>
                                        <%=session.user.companyName%>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div></br></br>
                <div class="contents-container">
                    <div class="title">계약 목록</div>
                    <div class="top-right-button">
                        <div class="align-container">
                            <input type="button" class="detail" value="상세보기"/>
                        </div>
                    </div>
                    <div>
                        <table class="contract">
                            <thead>
                                <tr>
                                    <th width="180px">계약번호</th>
                                    <th width="260px">계약명</th>
                                    <th width="120px">계약일자</th>
                                    <th width="140px">담당자</th>
                                    <th width="200px">계약기간</th>
                                    <th width="100px">화폐단위</th>
                                    <th width="100px">기준환율</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="hidden">
                                    <td class="cell_contract_no" style="text-align: center;"></td>
                                    <td class="cell_contract_name" style="text-align: left;"></td>
                                    <td class="cell_contract_date" style="text-align: center;"></td>
                                    <td class="cell_contractor" style="text-align: center;"></td>
                                    <td>
                                        <div class="align-container-center">
                                            <p class="cell_start_date"></p>
                                            <p class="">~</p>
                                            <p class="cell_end_date"></p>
                                        </div>
                                    </td>
                                    <td class="cell_monetary_unit" style="text-align: center;"></td>
                                    <td class="cell_exchange_rate" style="text-align: right;"></td>
                                </tr>
                                <tr>
                                    <td colspan="9">데이터를 조회하세요.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>
