<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/public/css/styles.css">
        <link rel="stylesheet" media="screen and (max-width: 720px)" href="/public/css/styles-small.css">
        <link rel="stylesheet" media="screen and (min-width: 721px) and (max-width: 1280px)" href="/public/css/styles-medium.css">
        <link rel="stylesheet" media="screen and (min-width: 1281px)" href="/public/css/styles-large.css">
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script>
            $(document).ready(() => {
                
            });
        </script>
    </head>
    <body>
        <form id="home-form">
            <div>홈</div>
            <div>고객사관리</div>
            <div>계약관리</div>
            <div>라이센스관리</div>
        </form>
    </body>
</html>
