<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/public/css/content-styles.css">
        <!--
        <link rel="stylesheet" media="screen and (max-width: 600px)" href="/public/css/styles-small.css">
        <link rel="stylesheet" media="screen and (min-width: 601px) and (max-width: 1024px)" href="/public/css/styles-medium.css">
        <link rel="stylesheet" media="screen and (min-width: 1025px) and (max-width: 2560px)" href="/public/css/styles-large.css">
        -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="/public/js/common/common_utility.js"></script>
        <script src="/public/js/common/common_variables.js"></script>
        <script>
            $(document).ready(function() {
                var nation_options = [];

                $.ajax({
                    url: "../../nations/status",
                    method: "POST",
                    success: function (data) {
                        if (data === 'NO SESSION') {
                            alert("세션이 만료되었습니다.");
                            window.parent.location.href = "./login";
                        } else if (data === 'NO DATA') {
                            nation_options = [
                                { code:'CN', ename:'China', kname:'중국', country:'86' },
                                { code:'KR', ename:'Republic of Korea', kname:'대한민국', country:'82' },
                                { code:'JP', ename:'Japan', kname:'일본', country:'81' },
                                { code:'US', ename:'United States of America', kname:'미국', country:'1' },
                            ];
                            
                            CreateNationsSelection($('.nation'), nation_options, $('.language').val());
                        } else {
                            if (Array.isArray(data)) {
                                $.each(data, function(index, post) {
                                    nation_options.push({
                                        code:post.nationIso2, 
                                        ename:post.nationEname, 
                                        kname:post.nationKname, 
                                        country:post.nationCode
                                    });
                                });
                                
                                CreateNationsSelection($('.nation'), nation_options, $('.language').val());
                            }
                        }
                    },
                    error: function (xhr, status, error) {
                        alert('서버 요청에 실패하였습니다.');
                    },
                });

                var Search = function() {
                    var companyNo = $('.company_no').val();

                    // 행 데이터 출력
                    $.ajax({
                        url: "../../company/detail",
                        method: "POST",
                        data: {
                            companyNo: companyNo,
                        },
                        success: function (data) {
                            if (data === 'NO SESSION') {
                                alert("세션이 만료되었습니다.");
                                window.parent.location.href = "./login";
                                return;
                            } else if (data === 'NO DATA') {
                                alert("조회된 데이터가 없습니다.");
                                return;
                            } else {
                                $('.cell_company_no').text(data.companyNo);
                                $('.cell_company_name').text(data.companyName);
                                $('.cell_owner_name').text(data.ownerName);
                                $('.cell_business_no').text(data.businessNo);
                                $('.cell_resident_no').text(data.residentNo);
                                $('.cell_company_div').text(companyDivs[data.companyDiv]);
                                
                                var option = nation_options.find(option => option.code === data.nation);
                                $('.cell_nation').text(option.kname);
                                $('.cell_nation_code').text(data.nationCode);
                                $('.cell_telephone').text(data.telephone);
                                $('.cell_post_code').text(data.postCode);
                                $('.cell_business_place').text(data.businessPlace);
                            }
                        },
                        error: function (xhr, status, error) {
                            $('.company tbody').empty();

                            alert('서버 요청에 실패하였습니다.');
                            window.history.back();
                        },
                    });
                };

                $('.modify').click(function() {
                    var companyNo = $('.company_no').val();

                    // 행 데이터 출력
                    $.ajax({
                        url: "../../company/detail",
                        method: "POST",
                        data: {
                            companyNo: companyNo,
                        },
                        success: function (data) {
                            if (data === 'NO SESSION') {
                                alert("세션이 만료되었습니다.");
                                window.parent.location.href = "./login";
                                return;
                            } else if (data === 'NO DATA') {
                                alert("조회된 데이터가 없습니다.");
                                return;
                            } else {
                                $('.company_no').val(data.companyNo);
                                $('.company_name').val(data.companyName);
                                $('.owner_name').val(data.ownerName);
                                $('.business_no').val(data.businessNo);
                                $('.resident_no').val(data.residentNo);
                                $('.company_div').val(data.companyDiv);
                                $('.nation').val(data.nation);
                                $('.nation_code').val(data.nationCode);
                                $('.telephone').val(data.telephone);
                                $('.post_code').val(data.postCode);
                                $('.business_place').val(data.businessPlace);

                                $('.modal').show();
                            }
                        },
                        error: function (xhr, status, error) {
                            alert('서버 요청에 실패하였습니다.');
                        },
                    });
                });

                // Modal Event And Function
                var ClearModal = function() {
                    $('.company_name').val('');
                    $('.owner_name').val('');
                    $('.business_no').val('');
                    $('.resident_no').val('');
                    $('.company_div').val('');
                    $('.nation').val('');
                    $('.nation_code').val('');
                    $('.telephone').val('');
                    $('.post_code').val('');
                    $('.business_place').val('');
                };

                $('.nation').change(function() {
                    var value = $(this).val();
                    if (value === '')
                        return;

                    var option = nation_options.find(option => option.code === value);
                    $('.nation_code').val(option.country);
                });

                $('.close').click(function() {
                    $('.modal').hide();
                });

                $('.save').click(function() {
                    if (confirm('데이터를 저장 하시겠습니까?') == true)
                    {
                        var companyNo = $('.company_no').val();
                        var companyName = $('.company_name').val();
                        var ownerName = $('.owner_name').val();
                        var businessNo = $('.business_no').val();
                        var residentNo = $('.resident_no').val();
                        var companyDiv = $('.company_div').val();
                        var nation = $('.nation').val();
                        var nationCode = $('.nation_code').val();
                        var telephone = $('.telephone').val();
                        var postCode = $('.post_code').val();
                        var businessPlace = $('.business_place').val();

                        if (companyName === '') {
                            alert('법인명을 입력하세요.');
                            return;
                        }

                        if ($('.owner_name').val() === '') {
                            alert('대표자명을 입력하세요.');
                            return;
                        }

                        if ($('.company_div').val() === '') {
                            alert('회사구분을 선택하세요.');
                            return;
                        }
                        
                        if ($('.nation').val() === '') {
                            alert('국가를 선택하세요.');
                            return;
                        }
                        
                        if ($('.telephone').val() === '') {
                            alert('연락처를 입력하세요.');
                            return;
                        }

                        $.ajax({
                            url: "../../company/update",
                            method: "POST",
                            data: {
                                companyNo: companyNo,
                                companyName: companyName,
                                ownerName: ownerName,
                                businessNo: businessNo,
                                residentNo: residentNo,
                                companyDiv: companyDiv,
                                nation: nation,
                                telephone: telephone,
                                postCode: postCode,
                                businessPlace: businessPlace,
                            },
                            success: function (data) {
                                switch (data) {
                                    case "NO SESSION":
                                        alert("세션이 만료되었습니다.");
                                        window.parent.location.href = "./login";
                                        return;
                                    case "FAIL":
                                        alert('데이터 저장에 실패 하였습니다.');
                                        return;
                                    case "SUCCESS":
                                        alert('데이터 저장을 완료 하였습니다.');
                                        break;
                                }

                                $('.modal').hide();
                                Search();

                                ClearModal();
                            },
                            error: function (xhr, status, error) {
                                alert('서버 요청에 실패하였습니다.');
                            },
                        });
                    }
                });

                $('.cancel').click(function() {
                    if (confirm('입력을 취소 하시겠습니까?') == true)
                    {
                        $('.modal').hide();
                        
                        ClearModal();
                    }
                });

                CreateVariablesSelection($('.company_div'), companyDivs);
                Search();
            });
        </script>
    </head>
    <body>
        <form class="company-status-form">
            <input type="hidden" class="language" value="<%=session.language%>"/>
            
            <div class="content">
                <div  class="contents-container">
                    <div class="title">고객사 정보</div>
                    <div class="top-right-button">
                        <div class="align-container">
                            <input type="button" class="modify" value="수정"/>
                        </div>
                    </div>
                    <div>
                        <table class="company">
                            <thead>
                                <tr>
                                    <th width="120px" class="right-align">고객사번호</th>
                                    <td width="300px" class="cell_company_no"></td>
                                    <th width="120px" class="right-align">법인명</th>
                                    <td width="300px" class="cell_company_name"></td>
                                </tr>
                                <tr>
                                    <th class="right-align">대표자명</th>
                                    <td class="cell_owner_name"></td>
                                    <th class="right-align">연락처</th>
                                    <td>
                                        <div class="align-container">
                                            <p class="cell_nation_code"></p>-
                                            <p class="cell_telephone"></p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">사업자등록번호</th>
                                    <td class="cell_business_no"></td>
                                    <th class="right-align">법인등록번호</th>
                                    <td class="cell_resident_no"></td>
                                </tr>
                                <tr>
                                    <th class="right-align">회사구분</th>
                                    <td class="cell_company_div"></td>
                                    <th class="right-align">국가</th>
                                    <td class="cell_nation"></td>
                                </tr>
                                <tr>
                                    <th class="right-align">사업장소재지</th>
                                    <td height="60px" colspan="3">
                                        <div class="cell_post_code"></div>
                                        <div class="cell_business_place"></div>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div></br></br></br>
                <div>
                    <div class="title">위성통신 사용량</div>
                    <div class="satellite-usage-container">
                        <div class="daliy-usage">
                            <canvas class="daliy-usage-chart"></canvas>
                        </div>
                        <div class="monthly-usage">
                            <canvas class="monthly-usage-chart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="modal">
            <div class="modal-content" style="width:640px">
                <div class="contents-container">
                    <span class="close">&times;</span>
                    <div class="title">회사 관리</div>
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th width="120px" class="right-align">*법인명</th>
                                    <td width="500px" class="left-align">
                                        <input type="hidden" class="company_no" value="<%=session.user.companyNo%>"/>
                                        <input type="text" class="company_name" style="width: 240px;"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*대표자명</th>
                                    <td class="left-align">
                                        <input type="text" class="owner_name" style="width: 240px;"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">사업자등록번호</th>
                                    <td class="left-align">
                                        <input type="text" class="business_no" style="width: 160px;"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">법인등록번호</th>
                                    <td class="left-align">
                                        <input type="text" class="resident_no" style="width: 160px;"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*회사구분</th>
                                    <td class="left-align">
                                        <select class="company_div"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*국가</th>
                                    <td class="left-align">
                                        <select class="nation"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*연락처</th>
                                    <td class="left-align">
                                        <div class="align-container">
                                            <p>+<input type="text" class="nation_code" style="width:30px" readonly/></p>
                                            <input type="text" class="telephone" style="width: 120px;"/>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">사업장소재지</th>
                                    <td class="left-align">
                                        <div class="align-container">
                                            <p><input type="text" class="post_code" style="width:80px"/></p>
                                            <input type="button" class="search_address" value="주소검색"/>
                                        </div>
                                        <input type="text" class="business_place" style="width:490px"/>
                                    </td>
                                </tr>
                            </thead>
                        </table></br>
                    </div>
                    <div class="bottom-button">
                        <div class="align-container">
                            <p><input type="button" class="save" value="저장"/></p>
                            <input type="button" class="cancel" value="취소"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
