<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/public/css/content-styles.css">
        <!--
        <link rel="stylesheet" media="screen and (max-width: 600px)" href="/public/css/styles-small.css">
        <link rel="stylesheet" media="screen and (min-width: 601px) and (max-width: 1024px)" href="/public/css/styles-medium.css">
        <link rel="stylesheet" media="screen and (min-width: 1025px) and (max-width: 2560px)" href="/public/css/styles-large.css">
        -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
        <script src="/public/js/common/common_utility.js"></script>
        <script src="/public/js/common/common_variables.js"></script>
        <script>
            $(document).ready(function() {
                var companys = [];
                var contracts = [];
                var licenses = [];
                var shipsContents = [];

                $.ajax({
                    url: "../admin/company/codes",
                    method: "POST",
                    success: function (data) {
                        if (data === 'NO SESSION') {
                            alert("세션이 만료되었습니다.");
                            window.parent.location.href = "./login";
                        } else if (data === 'NO DATA') {
                            alert("조회된 데이터가 없습니다.");
                        } else {
                            if (Array.isArray(data)) {
                                $.each(data, function(index, post) {
                                    companys.push({
                                        code:post.companyNo, 
                                        name:post.companyName, 
                                    });
                                });

                                createSelection($('.s_company_no'), companys);
                            }
                        }
                    },
                    error: function (xhr, status, error) {
                        alert('서버 요청에 실패하였습니다.');
                    },
                });
                
                var search = function() {
                    clearContractUser();

                    var contractNo = $('.s_contract_no option:selected').val();
                    if (contractNo === '')
                    {
                        alert("계약번호를 선택하세요.");
                        return;
                    }

                    $.ajax({
                        url: "../admin/contract/user/status",
                        method: "POST",
                        data: {
                            contractNo: contractNo,
                        },
                        success: function (data) {

                            if (data === 'NO SESSION') {
                                alert("세션이 만료되었습니다.");
                                window.parent.location.href = "./login";
                            } else if (data === 'NO DATA') {
                                var newRow = '<tr><td colspan="5" class="left-align">조회된 데이터가 없습니다.</td></tr>';
                                $('.contract_user tbody').append(newRow);
                            } else {
                                if (Array.isArray(data)) {
                                    $.each(data, function(index, post) {
                                        var newRow = $('.contract_user tbody tr').first().clone().removeClass('hidden');

                                        $(newRow).find('.cell_user_no').text(post.userNo);
                                        $(newRow).find('.cell_user_id').text(post.userId);
                                        $(newRow).find('.cell_user_name').text(post.userName);
                                        $(newRow).find('.cell_user_pwd').text(post.userPwd);
                                        $(newRow).find('.cell_apply_start_date').text(post.applyStartDate);
                                        $(newRow).find('.cell_apply_finish_date').text(post.applyFinishDate);
                                        $(newRow).find('.cell_license_no').text(post.licenseNo);
                                        $(newRow).find('.cell_ship_seq').text(post.shipSeq);
                                        $(newRow).find('.cell_use_yn').text(useYn[post.useYn]);

                                        $('.contract_user tbody').append(newRow);
                                    });
                                }
                            }
                        },
                        error: function (xhr, status, error) {
                            var newRow = '<tr><td colspan="9" class="left-align">서버 요청에 실패하였습니다.</td></tr>';
                            $('.contract_user tbody').append(newRow);
                        },
                    });
                };

                $('.add').click(function() {
                    clearModal();

                    var contractNo = $('.s_contract_no option:selected').val();
                    if (contractNo === '')
                    {
                        alert("계약번호를 선택하세요.");
                        return;
                    }

                    var today = new Date();
                    var yyyy = today.getFullYear();
                    var mm = ('0' + (today.getMonth() + 1)).slice(-2);
                    var dd = ('0' + today.getDate()).slice(-2);
                    var formattedDate = yyyy + '-' + mm + '-' + dd;

                    var foundContract = contracts.find(function(contract) {
                        return contract.code === contractNo;
                    });

                    $('.contract_no').val(contractNo);
                    $('.contract_div').val(foundContract.contractDiv);
                    $('.apply_start_date').val(formattedDate);
                    $('.apply_finish_date').val(formattedDate);
                    $('.user_id').removeAttr('readonly');
                    $('.user_pwd').removeAttr('readonly');
                    $('.check_user_pwd').removeAttr('readonly');
                    $('.change_password').hide();

                    if ($('.contract_div').val() === 'L') {
                        $('.license').show();
                        $('.ships').hide();
                    } else {
                        $('.license').hide();
                        $('.ships').show();
                    }

                    $('.modal').show();
                });

                $('.modify').click(function() {
                    clearModal();

                    var contractNo = $('.s_contract_no').val();
                    if (contractNo === '')
                    {
                        alert("고객사를 선택하세요.");
                        return;
                    }

                    var selectedRow = $(".contract_user tr.selected");
                    if (selectedRow.length > 0) {
                        var userNo = selectedRow.find('.cell_user_no').text();

                        // 행 데이터 출력
                        $.ajax({
                            url: "../admin/contract/user/detail",
                            method: "POST",
                            data: {
                                contractNo: contractNo,
                                userNo: userNo,
                            },
                            success: function (data) {
                                if (data === 'NO SESSION') {
                                    alert("세션이 만료되었습니다.");
                                    window.parent.location.href = "./login";
                                } else if (data === 'NO DATA') {
                                    alert("조회된 데이터가 없습니다.");
                                } else {

                                    $('.contract_no').val(data.contractNo);
                                    $('.contract_div').val(data.contractDiv);
                                    $('.user_no').val(data.userNo);
                                    $('.user_id').val(data.userId);
                                    $('.user_id').attr('readonly', true);
                                    $('.user_name').val(data.userPwd);
                                    $('.user_pwd').val(data.userName);
                                    $('.user_pwd').attr('readonly', true);
                                    $('.check_user_pwd').val(data.userPwd);
                                    $('.check_user_pwd').attr('readonly', true);
                                    $('.apply_start_date').val(data.applyStartDate);
                                    $('.apply_finish_date').val(data.applyFinishDate);
                                    $('.license_no').val(data.licenseNo);
                                    $('.ship_seq').val(data.shipSeq);
                                    $('.use_yn').val(data.useYn);

                                    $('.change_password').show();

                                    if ($('.contract_div').val() === 'L') {
                                        $('.license').show();
                                        $('.ships').hide();
                                    } else {
                                        $('.license').hide();
                                        $('.ships').show();
                                    }

                                    $('.modal').show();
                                }
                            },
                            error: function (xhr, status, error) {
                               alert('서버 요청에 실패하였습니다.');
                            },
                        });
                    } else {
                        alert("목록에서 행을 선택하세요.");
                    }
                });

                $('.delete').click(function() {
                    clearModal();

                    var contractNo = $('.s_contract_no').val();
                    if (contractNo === '')
                    {
                        alert("고객사를 선택하세요.");
                        return;
                    }

                    var selectedRow = $(".contract_user tr.selected");
                    if (selectedRow.length > 0) {
                        if (confirm('데이터를 삭제 하시겠습니까?') == true)
                        {
                            var userNos = [];

                            userNos.push({
                                contractNo: contractNo,
                                userNo: selectedRow.find('.cell_user_no').text()
                            });

                            // 행 데이터 출력
                            $.ajax({
                                url: "../admin/contract/user/delete",
                                method: "POST",
                                data: {
                                    userNos: userNos,
                                },
                                success: function (data) {
                                    if (data === 'NO SESSION') {
                                        alert("세션이 만료되었습니다.");
                                        window.parent.location.href = "./login";
                                    } else if (data === 'FAIL') {
                                        alert("삭제에 실패하였습니다.");
                                    } else {
                                        alert("삭제가 완료되었습니다.");

                                        search();
                                    }
                                },
                                error: function (xhr, status, error) {
                                alert('서버 요청에 실패하였습니다.');
                                },
                            });
                        }
                    } else {
                        alert("목록에서 행을 선택하세요.");
                    }
                });

                $('.contract_user tbody').on('click', 'tr', function() {
                    $(this).addClass('selected').siblings().removeClass('selected');
                });

                var clearContractUser = function() {
                    const rows = document.querySelectorAll(".contract_user tbody tr:not(:first-child)");
                    rows.forEach(row => {
                        row.remove();
                    });
                }

                // Modal Event And Function
                var clearModal = function() {
                    $('.contract_no').val('');
                    $('.contract_div').val('');
                    $('.user_no').val('');
                    $('.user_id').val('');
                    $('.user_name').val('');
                    $('.user_pwd').val('');
                    $('.apply_start_date').val('');
                    $('.apply_finish_date').val('');
                    $('.license_no').val('');
                    $('.ship_seq').val('');
                    $('.use_yn').val('');

                };

                var clearPasswordModal = function() {
                    $('.new_user_pwd').val('');
                    $('.check_user_pwd').val('');
                }

                var clearContract = function() {
                    $('.s_contract_no').empty();
                
                    // Add default option
                    $('.s_contract_no').append($('<option>', {
                        value: '',
                        text: '선택하세요'
                    }));
                }

                var validationCheck = function() {
                    if ($('.user_id').val() === '') {
                        alert('사용자ID(이메일)을 입력하세요.');
                        return false;
                    }

                    if ($('.user_pwd').val() === '') {
                        alert('비밀번호를 입력하세요.');
                        return false;
                    }

                    if ($('.check_user_pwd').val() === '') {
                        alert('비밀번호 확인을 입력하세요.');
                        return false;
                    }

                    if ($('.user_pwd').val() !== $('.check_user_pwd').val()) {
                        alert('비밀번호와 비밀번호 확인이 다릅니다.');
                        return false;
                    }

                    if ($('.user_name').val() === '') {
                        alert('사용자명을 입력하세요.');
                        return false;
                    }

                    if ($('.apply_start_date').val() === '') {
                        alert('적용시작일자를 입력하세요.');
                        return false;
                    }

                    if ($('.apply_finish_date').val() === '') {
                        alert('적용완료일자를 입력하세요.');
                        return false;
                    }

                    if ($('.contract_div').val() === 'L') {
                        if ($('.license_no').val() === '') {
                            alert('라이센스를 선택하세요.');
                            return false;
                        }
                    } else {
                        if ($('.ship_seq').val() === '') {
                            alert('선박을 선택하세요.');
                            return false;
                        }
                    }

                    if ($('.use_yn').val() === '') {
                        alert('사용여부를 입력하세요.');
                        return false;
                    }

                    return true;
                }

                $('.s_company_no').change(function() {
                    clearContract();

                    var companyNo = $('.s_company_no option:selected').val();
                    if (companyNo === '') {
                        alert('고객사를 선택하세요.');
                        return;
                    }

                    $.ajax({
                        url: "../admin/contract/codes",
                        method: "POST",
                        data: {
                            companyNo: companyNo,
                        },
                        success: function (data) {
                            if (data === 'NO SESSION') {
                                alert("세션이 만료되었습니다.");
                                window.parent.location.href = "./login";
                            } else if (data === 'NO DATA') {
                                alert("조회된 데이터가 없습니다.");
                            } else {
                                contracts = [];
                                if (Array.isArray(data)) {
                                    $.each(data, function(index, post) {
                                        if (post.contractDiv === 'D' || post.contractDiv === 'A')
                                            return;

                                        contracts.push({
                                            code:post.contractNo, 
                                            name:post.contractName, 
                                        });
                                    });

                                    createSelection($('.s_contract_no'), contracts);
                                }
                            }
                        },
                        error: function (xhr, status, error) {
                            alert('서버 요청에 실패하였습니다.');
                        },
                    });
                });

                $('.s_contract_no').change(function() {
                    var contractNo = $('.s_contract_no option:selected').val();
                    if (contractNo === '') {
                        alert('계약번호를 선택하세요.');
                        return;
                    }
                    
                    var foundContract = contracts.find(function(contract) {
                        return contract.code === contractNo;
                    });

                    var url = "../admin/contract/licenseCodes";
                    if (foundContract.contractDiv === 'L') {
                        url = "../admin/contract/licenseCodes";
                    } else {
                        url = "../admin/contract/shipsCodes";
                    }

                    $.ajax({
                        url: url,
                        method: "POST",
                        data: {
                            contractNo: contractNo,
                        },
                        success: function (data) {
                            if (data === 'NO SESSION') {
                                alert("세션이 만료되었습니다.");
                                window.parent.location.href = "./login";
                            } else if (data === 'NO DATA') {
                                alert("조회된 데이터가 없습니다.");
                            } else {
                                if (foundContract.contractDiv === 'L') {
                                    licenses = [];
                                    if (Array.isArray(data)) {
                                        $.each(data, function(index, post) {
                                            licenses.push({
                                                code:post.licenseNo, 
                                                name:post.licenseNo, 
                                            });
                                        });

                                        createSelection($('.license_no'), licenses);
                                    }
                                } else {
                                    shipsContents = [];
                                    if (Array.isArray(data)) {
                                        $.each(data, function(index, post) {
                                            shipsContents.push({
                                                code:post.shipSeq, 
                                                name:post.shipName, 
                                            });
                                        });

                                        createSelection($('.ship_seq'), shipsContents);
                                    }
                                }
                            }
                        },
                        error: function (xhr, status, error) {
                            alert('서버 요청에 실패하였습니다.');
                        },
                    });

                    search();
                });

                $('.close').click(function() {
                    $('.modal').hide();
                    clearModal();
                });

                $('.save').click(function() {
                    if (confirm('데이터를 저장 하시겠습니까?')) {
                        if (!validationCheck()) {
                            return;
                        }

                        var contractNo = $('.contract_no').val();
                        var userNo = $('.user_no').val();
                        var userId = $('.user_id').val();
                        var userName = $('.user_name').val();
                        var userPwd = $('.user_pwd').val();
                        var applyStartDate = $('.apply_start_date').val();
                        var applyFinishDate = $('.apply_finish_date').val();
                        var licenseNo = $('.license_no').val();
                        var shipSeq = $('.ship_seq').val();
                        var useYn = $('.use_yn').val();

                        var url = "../admin/contract/user/insert";
                        if (userNo === ''){
                            url = "../admin/contract/user/insert";
                        } else {
                            url = "../admin/contract/user/update";
                        }

                        $.ajax({
                            url: url,
                            method: "POST",
                            data: {
                                contractNo: contractNo,
                                userNo: userNo,
                                userId: userId,
                                userPwd: userPwd,
                                userName: userName,
                                applyStartDate: applyStartDate,
                                applyFinishDate: applyFinishDate,
                                licenseNo: licenseNo,
                                shipSeq: shipSeq,
                                useYn: useYn,
                            },
                            success: function (data) {
                                switch (data) {
                                    case "NO SESSION":
                                        alert("세션이 만료되었습니다.");
                                        window.parent.location.href = "./login";
                                        return;
                                    case "EMAIL DUPLICATE":
                                        alert('사용자ID(이메일)이 중복되었습니다.');
                                        return;
                                    case "FAIL":
                                        alert('데이터 저장에 실패 하였습니다.');
                                        return;
                                    case "SUCCESS":
                                        alert('데이터 저장을 완료 하였습니다.');
                                        break;
                                }

                                $('.modal').hide();
                                search();
                                
                                clearModal();
                            },
                            error: function (xhr, status, error) {
                                alert('서버 요청에 실패하였습니다.');
                            },
                        });
                    }
                });

                $('.cancel').click(function() {
                    if (confirm('입력을 취소 하시겠습니까?') == true)
                    {
                        $('.modal').hide();
                        clearModal();
                    }
                });

                $('.change_password').click(function() {
                    $('.password_modal').show();
                });

                $('.password_close').click(function() {
                    clearPasswordModal();

                    $('.password_modal').hide();
                });

                $('.password_save').click(function() {
                    if (confirm('데이터를 저장 하시겠습니까?')) {
                        var contractNo = $('.contract_no').val();
                        var userNo = $('.user_no').val();
                        var oldUserPwd = $('.user_pwd').val();
                        var newUserPwd = $('.new_user_pwd').val();
                        var checkUserPwd = $('.check_new_user_pwd').val();

                        if (newUserPwd === '') {
                            alert('신규 비밀번호를 입력하세요.');
                            return;
                        }
                        
                        if (checkUserPwd === '') {
                            alert('비밀번호 확인을 입력하세요.');
                            return;
                        }
                        
                        if (newUserPwd !== checkUserPwd) {
                            alert('비밀번호와 비밀번호 확인이 다릅니다.');
                            return;
                        }
                        
                        if (nnewUserPwdwPwd === oldUserPwd) {
                            alert('기존 비밀번호와 동일한 비밀번호 입니다.');
                            return;
                        }

                        $.ajax({
                            url: "../admin/contract/user/changePassword",
                            method: "POST",
                            data: {
                                contractNo: contractNo,
                                userNo: userNo,
                                userPwd: newUserPwd,
                            },
                            success: function (data) {
                                switch (data) {
                                    case "NO SESSION":
                                        alert("세션이 만료되었습니다.");
                                        window.parent.location.href = "./login";
                                        return;
                                    case "FAIL":
                                        alert('데이터 저장에 실패 하였습니다.');
                                        return;
                                    case "SUCCESS":
                                        alert('데이터 저장을 완료 하였습니다.');
                                        break;
                                }

                                $('.password_modal').hide();
                                
                                clearPasswordModal();
                            },
                            error: function (xhr, status, error) {
                                alert('서버 요청에 실패하였습니다.');
                            },
                        });
                    }
                });

                $('.password_cancel').click(function() {
                    if (confirm('입력을 취소 하시겠습니까?') == true)
                    {
                        $('.password_modal').hide();
                        
                        clearPasswordModal();
                    }
                });
                
                createVariablesSelection($('.user_auth'), managerAuths);
                createVariablesSelection($('.use_yn'), useYn);
            });
        </script>
    </head>
    <body>
        <form class="contract-customer-status-form">
            <div class="content">
                <div>
                    <div class="title">조회 조건</div>
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th width="120px" class="right-align">고객사</th>
                                    <td class="left-align">
                                        <select class="s_company_no" style="width:240px;">
                                            <option value="">선택하세요.</option>
                                        </select>
                                    </td>
                                    <th width="120px" class="right-align">계약번호</th>
                                    <td class="left-align">
                                        <select class="s_contract_no" style="width:320px;">
                                            <option value="">선택하세요.</option>
                                        </select>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div></br></br>
                <div class="contents-container">
                    <div class="title">계약 사용자 목록</div>
                    <div class="top-right-button">
                        <div class="align-container">
                            <p><input type="button" class="add" value="등록"/></p>
                            <p><input type="button" class="modify" value="수정"/></p>
                            <p><input type="button" class="delete" value="삭제"/></p>
                        </div>
                    </div>
                    <div>
                        <table class="contract_user">
                            <thead>
                                <tr>
                                    <th width="100px">순번</th>
                                    <th width="160px">사용자명</th>
                                    <th width="260px">사용자ID</th>
                                    <th width="240px">적용일자</th>
                                    <th width="120px">사용여부</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="hidden">
                                    <td class="cell_user_no" style="text-align: center;"></td>
                                    <td class="cell_user_name" style="text-align: left;"></td>
                                    <td class="cell_user_id" style="text-align: left;"></td>
                                    <td>
                                        <div class="align-container-center">
                                            <p class="cell_apply_start_date"></p>
                                            <p class="">~</p>
                                            <p class="cell_apply_finish_date"></p>
                                        </div>
                                    </td>
                                    <td class="cell_use_yn" style="text-align: center;"></td>
                                </tr>
                                <tr>
                                    <td colspan="5">데이터를 조회하세요.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
        <div class="modal">
            <div class="modal-content" style="width:570px">
                <div class="contents-container">
                    <span class="close">&times;</span>
                    <div class="title">계약 사용자 관리</div>
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th class="right-align" style="width: 150px;">*계약번호</th>
                                    <td class="left-align" style="width: 420px;">
                                        <input type="text" class="contract_no" style="width: 200px;" readonly/>
                                        <input type="hidden" class="contract_div" />
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*사용자번호</th>
                                    <td class="left-align">
                                        <input type="text" class="user_no" style="width: 120px;" readonly/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*사용자명</th>
                                    <td class="left-align">
                                        <input type="text" class="user_name" style="width: 160px;"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*사용자ID(이메일)</th>
                                    <td class="left-align">
                                        <input type="text" class="user_id" style="width: 260px;"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*비밀번호</th>
                                    <td class="left-align">
                                        <input type="password" class="user_pwd" style="width: 160px;"/>
                                        <input type="button" class="change_password" value="비밀번호 변경"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*비밀번호 확인</th>
                                    <td class="left-align">
                                        <input type="password" class="check_user_pwd" style="width: 160px;"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*유효기간</th>
                                    <td class="left-align">
                                        <div class="align-container">
                                            <p><input type="date" class="apply_start_date" style="width: 120px;"/></p>
                                            <p class="">~</p>
                                            <p><input type="date" class="apply_finish_date" style="width: 120px;"/></p>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="license">
                                    <th class="right-align">*라이센스</th>
                                    <td class="left-align">
                                        <select class="license_no"></select>
                                    </td>
                                </tr>
                                <tr class="ship">
                                    <th class="right-align">*선박</th>
                                    <td class="left-align">
                                        <select class="ship_seq"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*사용여부</th>
                                    <td class="left-align">
                                        <select class="use_yn"></select>
                                    </td>
                                </tr>
                            </thead>
                        </table></br>
                    </div></br>
                    <div class="bottom-button">
                        <div class="align-container">
                            <p><input type="button" class="save" value="저장"/></p>
                            <input type="button" class="cancel" value="취소"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="password_modal">
            <div class="modal-content" style="width:320px">
                <div class="contents-container">
                    <span class="password_close">&times;</span>
                    <div class="title">비밀번호 변경</div>
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th class="right-align" style="width: 120px;">*비밀번호</th>
                                    <td class="left-align">
                                        <input type="password" class="new_user_pwd" style="width: 180px;"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*비밀번호 확인</th>
                                    <td class="left-align">
                                        <input type="password" class="check_new_user_pwd" style="width: 180px;"/>
                                    </td>
                                </tr>
                            </thead>
                        </table></br>
                    </div></br>
                    <div class="bottom-button">
                        <div class="align-container">
                            <p><input type="button" class="password_save" value="저장"/></p>
                            <input type="button" class="password_cancel" value="취소"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
