<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/public/css/content-styles.css">
        <!--
        <link rel="stylesheet" media="screen and (max-width: 600px)" href="/public/css/styles-small.css">
        <link rel="stylesheet" media="screen and (min-width: 601px) and (max-width: 1024px)" href="/public/css/styles-medium.css">
        <link rel="stylesheet" media="screen and (min-width: 1025px) and (max-width: 2560px)" href="/public/css/styles-large.css">
        -->
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="/public/js/common/common_utility.js"></script>
        <script src="/public/js/common/common_variables.js"></script>
        <script src="/public/js/models/license.js"></script>
        <script>
            $(document).ready(function() {
                var companys = [];

                $.ajax({
                    url: "../admin/company/codes",
                    method: "POST",
                    success: function (data) {
                        if (data === 'NO SESSION') {
                            alert("세션이 만료되었습니다.");
                            window.parent.location.href = "./login";
                        } else if (data === 'NO DATA') {
                            alert("조회된 데이터가 없습니다.");
                        } else {
                            if (Array.isArray(data)) {
                                $.each(data, function(index, post) {
                                    companys.push({
                                        code:post.companyNo, 
                                        name:post.companyName, 
                                    });
                                });

                                CreateCompanysSelection($('#sel_company_no'), companys);
                            }
                        }
                    },
                    error: function (xhr, status, error) {
                        alert('서버 요청에 실패하였습니다.');
                    },
                });
                
                var Search = function() {
                    $('#contract tbody').empty();

                    var companyNo = $('#sel_company_no option:selected').val();
                    if (companyNo === '')
                    {
                        alert("고객사를 선택하세요.");
                        return;
                    }

                    $.ajax({
                        url: "../admin/contract/status",
                        method: "POST",
                        data: {
                            companyNo: companyNo,
                        },
                        success: function (data) {
                            $('#contract tbody').empty();

                            if (data === 'NO SESSION') {
                                alert("세션이 만료되었습니다.");
                                window.parent.location.href = "./login";
                            } else if (data === 'NO DATA') {
                                var newRow = '<tr><td colspan="8" class="left-align">조회된 데이터가 없습니다.</td></tr>';
                                $('#contract tbody').append(newRow);
                            } else {
                                if (Array.isArray(data)) {
                                    $.each(data, function(index, post) {
                                        var newRow = 
                                            '<tr>' +
                                                '<td class="center-align">' + post.contractNo + '</td>' +
                                                '<td class="left-align">' + post.contractName + '</td>' +
                                                '<td class="center-align">' + post.contractDate + '</td>' +
                                                '<td class="center-align">' + post.contractor + '</td>' +
                                                '<td class="center-align"><div class="align-container"><p>' + post.startDate + '</p><p>~</p><p>' + post.endDate + '</p></div></td>' +
                                                '<td class="center-align">' + post.monetaryUnit + '</td>' +
                                                '<td class="right-align">' + post.exchangeRate + '</td>' +
                                                '<td class="right-align">' + post.actualAmount + '</td>' +
                                            '</tr>';
                                        $('#contract tbody').append(newRow);
                                    });
                                }
                            }
                        },
                        error: function (xhr, status, error) {
                            $('#contract tbody').empty();

                            var newRow = '<tr><td colspan="7" class="left-align">서버 요청에 실패하였습니다.</td></tr>';
                            $('#contract tbody').append(newRow);
                        },
                    });
                };

                $('#sel_company_no').change(function() {
                    Search();
                });

                $('#btn_add').click(function() {
                    var companyNo = $('#sel_company_no option:selected').val();
                    var companyName = $('#sel_company_no option:selected').text();

                    if (companyNo === '')
                    {
                        alert("고객사를 선택하세요.");
                        return;
                    }

                    ClearModal();

                    var today = new Date();
                    $('#hid_company_no').val(companyNo);
                    $('#txt_company_name').val(companyName);
                    $('#txt_contract_date').val(getFormattedDate(today));

                    $('#modal').show();
                });

                $('#btn_modify').click(function() {
                    ClearModal();

                    var companyNo = $('#sel_company_no').val();
                    if (companyNo === '')
                    {
                        alert("고객사를 선택하세요.");
                        return;
                    }

                    var selectedRow = $("#contract tr.selected");
                    if (selectedRow.length > 0) {
                        // 선택된 행의 데이터를 배열로 저장
                        var rowData = [];
                        selectedRow.find("td").each(function() {
                            rowData.push($(this).text());
                        });

                        // 행 데이터 출력
                        $.ajax({
                            url: "../admin/contract/detail",
                            method: "POST",
                            data: {
                                companyNo: companyNo,
                                contractNo: rowData[0],
                            },
                            success: function (data) {
                                if (data === 'NO SESSION') {
                                    alert("세션이 만료되었습니다.");
                                    window.parent.location.href = "./login";
                                } else if (data === 'NO DATA') {
                                    alert("조회된 데이터가 없습니다.");
                                } else {
                                    $('#hid_company_no').val(data.companyNo);
                                    $('#txt_company_name').val(data.companyName);
                                    $('#hid_contract_no').val(data.contractNo);
                                    $('#txt_contract_name').val(data.contractName);
                                    $('#txt_contract_date').val(data.contractDate);
                                    $('#txt_contractor').val(data.contractor);
                                    $('#sel_contract_period').val(data.contractPeriod);
                                    $('#txt_start_date').val(data.startDate);
                                    $('#txt_end_date').val(data.endDate);
                                    $('#sel_monetary_unit').val(data.monetaryUnit);
                                    $('#txt_exchange_rate').val(data.exchangeRate);
                                    $('#txt_amount').val(data.amount);
                                    $('#txt_discounted_amount').val(data.discountedAmount);
                                    $('#txt_actual_amount').val(data.actualAmount);
                                    $('#txt_remark').val(data.remark);

                                    $('#modal').show();
                                }
                            },
                            error: function (xhr, status, error) {
                               alert('서버 요청에 실패하였습니다.');
                            },
                        });
                    } else {
                        alert("계약 목록에서 행을 선택하세요.");
                    }
                });

                $('#btn_detail').click(function() {
                    var companyNo = $('#sel_company_no').val();
                    if (companyNo === '')
                    {
                        alert("고객사를 선택하세요.");
                        return;
                    }

                    var selectedRow = $("#contract tr.selected");
                    if (selectedRow.length > 0) {
                        // 선택된 행의 데이터를 배열로 저장
                        var rowData = [];
                        selectedRow.find("td").each(function() {
                            rowData.push($(this).text());
                        });
                        
                        window.location.href = "../view/company/detail?companyNo=" + companyNo + "&contractNo=" + rowData[0];
                    } else {
                        alert("계약 목록에서 행을 선택하세요.");
                    }
                });

                $('#contract tbody').on('click', 'tr', function() {
                    $(this).addClass('selected').siblings().removeClass('selected');
                });

                // Modal Event And Function
                var ClearModal = function() {
                    $('#hid_company_no').val('');
                    $('#txt_company_name').val('');
                    $('#hid_contract_no').val('');
                    $('#txt_contract_name').val('');
                    $('#txt_contract_date').val('');
                    $('#txt_contractor').val('');
                    $('#sel_contract_period').val('');
                    $('#txt_start_date').val('');
                    $('#txt_end_date').val('');
                    $('#sel_monetary_unit').val('');
                    $('#txt_exchange_rate').val('');
                    $('#txt_amount').val('');
                    $('#txt_discounted_amount').val('');
                    $('#txt_actual_amount').val('');
                    $('#txt_remark').val('');
                };

                $('#btn_license_add').click(function() {
                    var newRow = $('#license tr.hidden').clone().removeClass('hidden');
                    $('#license tbody').append(newRow);
                });

                $('#btn_license_delete').click(function() {
                    var selectedRow = $('#license tr.selected');
                    if (selectedRow.length > 0) {
                        var index = selectedRow.index;
                        var hidMode = selectedRow.find('#hid_mode' + (index + 1));
                        if (hidMode.val() == 'I') {
                            $('#license tr.selected').remove();
                        } else {
                            hidMode.val('D');
                            $('#license tr.selected').addClass('hidden');
                        }
                    }
                });

                $('#sel_contract_period').change(function() {

                    var contractDate = new Date($('#txt_contract_date').val());
                    var contractPeriod = $(this).val();
                    var date = new Date();
                    switch (contractPeriod) {
                        case 'M1':
                            date = AddMonth(contractDate, 1);
                            break;
                        case 'M3':
                            date = AddMonth(contractDate, 3);
                            break;
                        case 'M6':
                            date = AddMonth(contractDate, 6);
                            break;
                        case 'Y1':
                            date = AddYear(contractDate, 1);
                            break;
                        case 'Y2':
                            date = AddYear(contractDate, 2);
                            break;
                        case 'Y3':
                            date = AddYear(contractDate, 3);
                            break;
                    } 
                    
                    $('#txt_start_date').val($('#txt_contract_date').val());
                    $('#txt_end_date').val(date);
                });

                $('#license tbody').on('click', 'tr', function() {
                    $(this).addClass('selected').siblings().removeClass('selected');
                });

                $('#close').click(function() {
                    $('#modal').hide();
                });

                $('#btn_save').click(function() {
                    if (confirm('데이터를 저장 하시겠습니까?') == true)
                    {
                        if ($('#txt_contract_no').val() === '') {
                            alert('계약명을 입력하세요.');
                            return;
                        }

                        if ($('#txt_contract_date').val() === '') {
                            alert('계약일자를 입력하세요.');
                            return;
                        }

                        if ($('#txt_contractor').val() === '') {
                            alert('담당자를 입력하세요.');
                            return;
                        }
                        
                        if ($('#sel_contract_period').val() === '') {
                            alert('계약기간을 선택하세요.');
                            return;
                        }
                        
                        if ($('#txt_start_date').val() === '' || $('#txt_end_date').val() === '') {
                            alert('계약기간을 입력하세요.');
                            return;
                        }
                        
                        if ($('#sel_monetary_unit').val() === '') {
                            alert('화폐단위를 선택하세요.');
                            return;
                        }
                        
                        if ($('#txt_exchange_rate').val() === '') {
                            alert('기준환율을 입력하세요.');
                            return;
                        }

                        if ($('#license tbody tr').length === 1) {
                            alert('라이센스를 입력하세요.');
                            return;
                        }

                        var companyNo = $('#hid_company_no').val();
                        var contractNo = $('#txt_contract_no').val();
                        var contractName = $('#txt_contract_name').val();
                        var contractDate = $('#txt_contract_date').val();
                        var contractor = $('#txt_contractor').val();
                        var contractPeriod = $('#sel_contract_period').val();
                        var startDate = $('#txt_start_date').val();
                        var endDate = $('#txt_end_date').val();
                        var montaryUnit = $('#sel_monetary_unit').val();
                        var exchangeRate = $('#txt_exchange_rate').val();
                        var amount = $('#txt_amount').val();
                        var discountedAmount = $('#txt_discounted_amount').val();
                        var actualAmount = $('#txt_actual_amount').val();
                        var remark = $('#txt_remark').val();

                        var licenses = [];
                        $('#license tbody tr').each(function(index, row) {
                            if (index === 0)
                                return;

                            licenses.push({
                                mode: $(row).find('hid_mode' + (index + 1)).val(),
                                licenseNo: $(row).find('txt_license_no' + (index + 1)).val(),
                                licenseType: $(row).find('sel_license_type' + (index + 1)).val(),
                                appName: $(row).find('sel_app_name' + (index + 1)).val(),
                                startDate: $(row).find('txt_license_start_date' + (index + 1)).val(),
                                endDate: $(row).find('txt_license_end_date' + (index + 1)).val(),
                                licenseCount: $(row).find('txt_license_count' + (index + 1)).val(),
                                unitPrice: $(row).find('txt_unit_price' + (index + 1)).val(),
                                amount: $(row).find('txt_license_amount' + (index + 1)).val(),
                                discountedAmount: $(row).find('txt_license_discounted_amount' + (index + 1)).val(),
                                actualAmount: $(row).find('txt_license_actual_amount' + (index + 1)).val(),
                            });
                        });

                        var url = "../admin/contract/insert";
                        if (companyNo === ''){
                            url = "../admin/contract/insert";
                        } else {
                            url = "../admin/contract/update";
                        }


                        $.ajax({
                            url: url,
                            method: "POST",
                            data: {
                                companyNo: companyNo,
                                contractNo: contractNo,
                                contractName: contractName,
                                contractDate: contractDate,
                                contractor: contractor,
                                contractPeriod: contractPeriod,
                                startDate: startDate,
                                endDate: endDate,
                                montaryUnit: montaryUnit,
                                exchangeRate: exchangeRate,
                                amount: amount,
                                discountedAmount: discountedAmount,
                                actualAmount: actualAmount,
                                remark: remark,
                                licenses: licenses,
                            },
                            success: function (data) {
                                switch (data) {
                                    case "NO SESSION":
                                        alert("세션이 만료되었습니다.");
                                        window.parent.location.href = "./login";
                                    case "FAIL":
                                        alert('데이터 저장에 실패 하였습니다.');
                                        return;
                                    case "SUCCESS":
                                        alert('데이터 저장을 완료 하였습니다.');
                                        break;
                                }

                                $('#modal').hide();
                                Search();
                                
                                ClearModal();
                            },
                            error: function (xhr, status, error) {
                                alert('서버 요청에 실패하였습니다.');
                            },
                        });
                    }
                });

                $('#btn_cancel').click(function() {
                    if (confirm('입력을 취소 하시겠습니까?') == true)
                    {
                        $('#modal').hide();
                        
                        ClearModal();
                    }
                });
                
                CreateVariablesSelection($('#sel_monetary_unit'), montearyUnit);
                CreateVariablesSelection($('#sel_contract_period'), contractPeriod);
                CreateVariablesSelection($('#sel_app_name'), appName);
                CreateVariablesSelection($('#sel_license_type'), licenseType);
            });
        </script>
    </head>
    <body>
        <form id="company-detail-form">
            <div class="content">
                <div>
                    <div class="title">조회 조건</div>
                    <div>
                        <table id="search">
                            <thead>
                                <tr>
                                    <th width="120px" class="right-align">고객사</th>
                                    <td class="left-align">
                                        <select id="sel_company_no" class="search-select" style="width:240px;">
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div></br></br></br>
                <div class="contents-container">
                    <div class="title">계약 목록</div>
                    <div class="top-right-button">
                        <div class="align-container">
                            <p><input type="button" id="btn_add" class="status-button" value="등록"/></p>
                            <p><input type="button" id="btn_modify" class="status-button" value="수정"/></p>
                            <input type="button" id="btn_detail" class="status-button" value="상세보기"/>
                        </div>
                    </div>
                    <div>
                        <table id="contract">
                            <thead>
                                <tr>
                                    <th width="100px">계약번호</th>
                                    <th width="240px">계약명</th>
                                    <th width="100px">계약일자</th>
                                    <th width="100px">담당자</th>
                                    <th width="160px">계약기간</th>
                                    <th width="80px">화폐단위</th>
                                    <th width="80px">기준환율</th>
                                    <th width="120px">실계약금액</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
        <div id="modal" class="modal">
            <div class="modal-content" style="width:1140px">
                <div class="contents-container">
                    <span id="close" class="close">&times;</span>
                    <div class="title">계약 등록</div>
                    <div>
                        <table id="content">
                            <thead>
                                <tr>
                                    <th width="120px" class="right-align">*고객사</th>
                                    <td width="1000px" class="left-align" colspan="3">
                                        <input type="hidden" id="hid_company_no"/>
                                        <input type="text" id="txt_company_name" class="input-text" style="width: 240px;" readonly/>
                                    </td>
                                </tr>
                                <tr>
                                    <th width="120px" class="right-align">*계약번호</th>
                                    <td width="390px" class="left-align">
                                        <input type="text" id="txt_contract_no" class="input-text" style="width: 240px;" readonly/>
                                    </td>
                                    <th width="120px" class="right-align">*계약명</th>
                                    <td width="390px" class="left-align" colspan="3">
                                        <input type="text" id="txt_contract_name" class="input-text" style="width: 400px;"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*계약일자</th>
                                    <td class="left-align">
                                        <input type="date" id="txt_contract_date" class="input-text" style="width: 160px;"/>
                                    </td>
                                    <th class="right-align">*담당자</th>
                                    <td class="left-align">
                                        <input type="text" id="txt_contractor" class="input-text" style="width: 160px;"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*계약기간</th>
                                    <td class="left-align" colspan="3">
                                        <div class="align-container">
                                            <p><select id="sel_contract_period" class="input-select"></select></p>
                                            <p><input type="date" id="txt_start_date" class="input-text" style="width: 160px;"/></p>
                                            <p>~</p>
                                            <p><input type="date" id="txt_end_date" class="input-text" style="width: 160px;"/></p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*화폐단위</th>
                                    <td class="left-align">
                                        <select id="sel_monetary_unit" class="input-select"></select>
                                    </td>
                                    <th class="right-align">*기준환율</th>
                                    <td class="left-align">
                                        <input type="text" id="txt_exchange_rate" class="input-text" style="width:100px"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">계약금액</th>
                                    <td class="left-align">
                                        <input type="text" id="txt_amount" class="input-text" style="width:160px"/>
                                    </td>
                                    <th class="right-align">할인금액</th>
                                    <td class="left-align">
                                        <input type="text" id="txt_discounted_amount" class="input-text" style="width:160px"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">실계약금액</th>
                                    <td class="left-align" colspan="3">
                                        <input type="text" id="txt_actual_amount" class="input-text" style="width:160px"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">비고</th>
                                    <td class="left-align" colspan="3">
                                        <textarea id="txt_remark" class="input-text" style="width:940px; height:60px;"></textarea>
                                    </td>
                                </tr>
                            </thead>
                        </table></br>
                    </div>
                    <div class="table-container" style="height:200px">
                        <div class="title">라이센스 등록</div>
                        <div class="top-right-button">
                            <div class="align-container">
                                <p><input type="button" id="btn_license_add" class="status-button" value="추가"/></p>
                                <input type="button" id="btn_license_delete" class="status-button" value="삭제"/>
                            </div>
                        </div>
                        <table id="license">
                            <thead>
                                <tr>
                                    <th width="100px">라이센스번호</th>
                                    <th width="126px">타입</th>
                                    <th width="120px">프로그램</th>
                                    <th width="230px">기간</th>
                                    <th width="60px">수량</th>
                                    <th width="90px">단가</th>
                                    <th width="110px">금액</th>
                                    <th width="110px">할인금액</th>
                                    <th width="110px">실금액</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="hidden">
                                    <td>
                                        <input type="hidden" id="hid_mode" value="I">
                                        <input type="text" id="txt_license_no" class="input-text" style="width:84px;" readonly>
                                    </td>
                                    <td>
                                        <select id="sel_license_type" class="input-select" style="width:104px;"></select>
                                    </td>
                                    <td>
                                        <select id="sel_app_name" class="input-select" style="width:104px"></select>
                                    </td>
                                    <td>
                                        <div class="align-container">
                                            <p><input type="date" id="txt_license_start_date" class="input-text" style="width:90px;"></p>
                                            <p>~</p>
                                            <input type="date" id="txt_license_end_date" class="input-text" style="width:90px;">
                                        </div>
                                    </td>
                                    <td><input type="text" id="txt_license_count" class="input-text" style="width:44px; text-align:right"></td>
                                    <td><input type="text" id="txt_unit_price" class="input-text" style="width:74px;"></td>
                                    <td><input type="text" id="txt_license_amount" class="input-text" style="width:94px; text-align:right"></td>
                                    <td><input type="text" id="txt_license_discounted_amount" class="input-text" style="width:94px; text-align:right"></td>
                                    <td><input type="text" id="txt_license_actual_amount" class="input-text" style="width:94px; text-align:right"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div></br>
                    <div class="bottom-button">
                        <div class="align-container">
                            <p><input type="button" id="btn_save" class="button" value="저장"/></p>
                            <input type="button" id="btn_cancel" class="button" value="취소"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
