html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #f3f7fa;
    overflow-x: hidden;
    overflow-y: auto;
}

.title {
    position: absolute;
    top: 32px;
    left: 36px;
    color:#555d6b;
    font: normal normal 500 28px/42px Pretendard;
    font-weight: bold;
}

.contents {
    position: absolute;
    top: 90px;
    left: 36px;
    box-sizing: border-box;
    background-color: #f3f7fa;
    overflow-x: hidden;
    overflow-y: auto;
}

.contents-item {
    position: relative;
    width: 100%;
    margin-bottom: 32px;
}

.table-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 8px;
    font: normal normal 300 16px/22px Pretendard;
}

thead tr{
    background-color: #e6eaf0;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

tbody tr {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

tbody tr:hover {
    color: #f6f7fb !important;
    
    background: rgb(119, 156, 207) 0% 0% no-repeat padding-box;
}

th, td {
    position: relative;
    padding: 10px;
    text-align: center;
}

th:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 1px;
    height: 50%; /* 선을 중간에만 표시 */
    background-color: #b8b8b8;
}

td:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 1px;
    height: 50%; /* 선을 중간에만 표시 */
    background-color: #b8b8b8;
}

thead tr th:first-child,
tbody tr td:first-child {
    border-top-left-radius: 10px; /* 좌측 상단 라운드 */
    border-bottom-left-radius: 10px; /* 좌측 하단 라운드 */
}

thead tr th:last-child,
tbody tr td:last-child {
    border-top-right-radius: 10px; /* 우측 상단 라운드 */
    border-bottom-right-radius: 10px; /* 우측 하단 라운드 */
}

input[type='text'], input[type='date'], input[type='password'] {
    height:26px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    font: normal normal medium 12px/14px Pretendard;
    font-size: 14px;
    letter-spacing: 0px;
    color: #323333;
}

input[type='text']:read-only, input[type='date']:read-only, input[type='password']:read-only {
    background-color: #d7d7d7; /* 회색 배경 */
    color: #5f5f5f;           /* 어두운 텍스트 색상 */
    border: 1px solid #ccc;   /* 테두리 색상 */
}

textarea[readonly] {
    background-color: #d7d7d7; /* 회색 배경 */
    color: #5f5f5f;           /* 어두운 텍스트 색상 */
    border: 1px solid #ccc;   /* 테두리 색상 */
}

input[type='button'] {
    height:26px;
    /* UI Properties */
    padding: 6, 0, 6, 0;
    border-radius: 2px;
    background: #365b92 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 5px #1a2b4629;
    font: normal normal medium 12px/14px Pretendard;
    font-size: 14px;
    letter-spacing: 0px;
    color: #f6f7fb;
    cursor: pointer;
}

.save, .cancel, .search {
    width:80px;
    height:30px;
    /* UI Properties */
    padding: 6, 0, 6, 0;
    border-radius: 2px;
    background: #365b92 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 6px #00000029;
    font: normal normal medium 12px/14px Pretendard;
    font-size: 14px;
    letter-spacing: 0px;
    color: #f6f7fb;

    cursor: pointer;
}

select {
    height:26px;
    color: #f6f7fb;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font: normal normal medium 12px/16px Pretendard;
    font-size: 14px;
    letter-spacing: 0px;
    color: #323333;
}

.selected {
    color: #f6f7fb;
    background: #3b7bbf 0% 0% no-repeat padding-box;
}

.bottom-button {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.top-right-button {
    position: absolute;
    top: 0;
    right: 0;
}

.align-container {
    display: flex;
    justify-content: left;
    align-items: center;
}

.align-container p {
    margin: 0 6px 0 0;
}

.align-container-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-container-center p {
    margin: 0 6px 0 0;
}

.left-align {
    text-align: left;
    vertical-align: middle;
}

.center-align {
    text-align: center;
    vertical-align: middle;
}

.right-align {
    text-align: right;
    vertical-align: middle;
}

.modal, .password_modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-contents {
    background-color: #fefefe;
    margin: 2% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
}

/* The Close Button */
.close, .password_close {
    color: #aaa;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.password-close:hover,
.password-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.satellite-usage-container {
    display: flex;
    width: 100%;
    padding:10px;
}

.daliy-usage, .monthly-usage {
    flex: 1;
    height: 240px; 
    padding: 10px;
    background-color: #fefefe;
}

.hidden {
    display: none;
}

.expanded {
    display: block;
}

.view_expanded {
    display: block;
}

.charts {
    display: flex;
    flex-direction: column; /* 수직 정렬 */
}

.chart-contents {
    position: relative;
    margin-bottom: 16px;
}