/* Styles for screens between 1025px and 2560px wide */
header {
    font-size: 30px;
    height: 154px;
}

nav {
    display: block;
    font-size: 16px;
}

nav a {
    font-size: 16px;
}

main {
    font-size: 20px;
}

/* Menu CSS */
.logo {
    top: 25px;
    left: 25px;
    width: 240px;
    height: 80px;
}

.topMenu {
    /* Layout Properties */
    height: 154px;
}

.menu {
    top: 96px;
}

.topShortcuts {
    height: 26px;
}
/* Menu CSS */

/* Login CSS */
.login {
    width: 720px;
    height: 480px;
}

.login-logo {
    top: 40px;
    left: 60px;
    width: 300px;
    height: 100px;
}

.login-id {
    top: 170px;
    left: 60px;
    width: 600px;
    height: 58px;
}

.login-password {
    top: 240px;
    left: 60px;
    width: 600px;
    height: 58px;
}

.login-id-text {
    top: 5px;
    left: 10px;
    width: 580px;
    height: 48px;
    
    font: normal normal 300 28px/32px Pretendard;
}

.login-password-text {
    top: 5px;
    left: 10px;
    width: 580px;
    height: 48px;
    
    font: normal normal 300 28px/32px Pretendard;
}

.login-button {
    top: 360px;
    left: 60px;
    width: 600px;
    height: 64px;
}

.login-submit {
    width: 600px;
    height: 64px;
    
    font: normal normal medium 24px/35px Pretendard;
    font-size: 32px;
}
/* Login CSS */