/* Reset some default styles and set a base font size */
body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 15px;
    overflow: hidden;
}

object, iframe {
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    border: 0px;
    background: #ffffff 0% 0% no-repeat padding-box;
}

nav {
    display: block;
    font-size: 14px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding: 2px;
}

footer {
    text-align: center;
}

/* Main CSS */
.topmenu {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 10;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    background: #53a8fd 0% 0% no-repeat padding-box;
    overflow: hidden;
    z-index: 1000;
}
.topmenu a {
    color: white;
    text-decoration: none;
}
.topmenu a:hover {
    text-decoration: underline;
}
.shortcuts {
    /* Layout Properties */
    position: absolute;
    bottom: 8px;
    right: 8px;
    /* UI Properties */
    font: normal normal 300 18px/22px Pretendard;
    opacity: 1;
}
.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 120px;
    height: 40px;
    background-size: cover;
    background-image: url('/public/images/logo.png');
    margin: 0;
}

.container {
    display: flex;
    height: 100vh;
    margin-top: 80px;
}
.sidebar {
    width: 250px;
    color: rgb(0, 50, 74);
    padding: 12px;
    box-sizing: border-box;
    position: fixed;
    top: 80px; /* 상단 메뉴 바로 아래에 위치 */
    bottom: 0px;
    border-right: 2px solid #0056ad;
    overflow: hidden;
}
.side-menu {
    width: 220px;
    color: rgb(0, 37, 69);
    box-sizing: border-box;
    position: fixed;
    top: 0px; /* 상단 메뉴 바로 아래에 위치 */
    bottom: 0px;
    overflow: hidden;
}
.side-menu div {
    width: 100%;
    height: 40px;
    padding-left: 20px;
    padding-Top: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 18px;
}
.side-menu div:hover {
    transition: background-color 0.3s;
    background: #79bbfd 0% 0% no-repeat padding-box;
}
.side-menu-selected {
    background: #53a8fd 0% 0% no-repeat padding-box;
}

.content {
    margin-left: 250px; /* 왼쪽 메뉴 너비만큼 여백 추가 */
    padding: 0px;
    box-sizing: border-box;
    position: fixed;
    top: 80px; /* 상단 메뉴 바로 아래에 위치 */
    left:0px;
    right:0px;
    bottom: 0px;
    background-color: #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
}
/* Main CSS */

/* Login CSS */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-content {
    position: relative;
    /* Layout Properties */
    width: 720px;
    height: 480px;
    box-sizing: border-box;
    border-radius: 18px;
    /* UI Properties */
    background: #53a8fd 0% 0% no-repeat padding-box;
    opacity: 1;
}

.login-logo {
    position: absolute;
    top: 40px;
    left: 30px;
    width: 225px;
    height: 75px;
    background-size: cover;
    background-image: url('/public/images/logo.png');
    margin: 0;
}

.login-id {
    /* Layout Properties */
    position: absolute;
    top: 170px;
    left: 60px;
    width: 600px;
    height: 58px;
    /* UI Properties */
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
}

.login-password {
    /* Layout Properties */
    position: absolute;
    top: 240px;
    left: 60px;
    width: 600px;
    height: 58px;
    /* UI Properties */
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
}

.login-text {
    /* Layout Properties */
    position: absolute;
    top: 5px;
    left: 10px;
    width: 580px;
    height: 48px;
    /* UI Properties */
    text-align: left;
    font: normal normal 300 26px/30px Pretendard;
    background: #ffffff 0% 0% no-repeat padding-box;
    letter-spacing: 0px;
    color: #484848;
    opacity: 1;
    border: none;
    outline: none;
}

.login-button {
    /* Layout Properties */
    position: absolute;
    top: 360px;
    left: 60px;
    width: 600px;
    height: 64px;
    /* UI Properties */
    background: rgb(16, 43, 78) 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 6px #00000029;
    border-radius: 8px;
    opacity: 1;

    cursor: pointer;
}

.login-submit {
    position: absolute;
    /* Layout Properties */
    width: 600px;
    height: 64px;
    /* UI Properties */
    text-align: center;
    font: normal normal medium 24px/35px Pretendard;
    font-size: 32px;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    border: none;
    outline: none;
    background: none;

    cursor: pointer;
}
/* Login CSS */