/* Styles for screens between 601px and 1024px wide */
header {
    font-size: 24px;
    height: 128px;
}

nav {
    display: block;
    font-size: 14px;
}

nav a {
    font-size: 14px;
}

main {
    font-size: 18px;
}

/* Main CSS */
.logo {
    top: 10px;
    left: 10px;
    width: 150px;
    height: 50px;
}

.topMenu {
    /* Layout Properties */
    height: 80px;
}

.leftMenu {
    /* Layout Properties */
    top: 80px;
}

.topShortcuts {
    bottom: 8px;
    right: 8px;
    height: 24px;
}
/* Main CSS */

/* Login CSS */
.login {
    width: 620px;
    height: 420px;
}

.login-logo {
    top: 30px;
    left: 50px;
    width: 255px;
    height: 85px;
}

.login-id {
    top: 150px;
    left: 50px;
    width: 520px;
    height: 50px;
}

.login-password {
    top: 210px;
    left: 50px;
    width: 520px;
    height: 50px;
}

.login-id-text {
    top: 3px;
    left: 10px;
    width: 500px;
    height: 42px;
    
    font: normal normal 300 24px/28px Pretendard;
}

.login-password-text {
    top: 3px;
    left: 10px;
    width: 500px;
    height: 42px;
    
    font: normal normal 300 24px/28px Pretendard;
}

.login-button {
    top: 300px;
    left: 50px;
    width: 520px;
    height: 60px;
}

.login-submit {
    width: 520px;
    height: 60px;

    font: normal normal medium 24px/32px Pretendard;
    font-size: 28px;
}
/* Login CSS */