<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/public/css/content-styles.css">
        <!--
        <link rel="stylesheet" media="screen and (max-width: 600px)" href="/public/css/styles-small.css">
        <link rel="stylesheet" media="screen and (min-width: 601px) and (max-width: 1024px)" href="/public/css/styles-medium.css">
        <link rel="stylesheet" media="screen and (min-width: 1025px) and (max-width: 2560px)" href="/public/css/styles-large.css">
        -->
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="/public/js/common/common_variables.js"></script>
        <script>
            $(document).ready(function() {
                var nation_options = [];
                var createNations = function()
                {
                    $('#sel_nation').append($('<option>', { 
                        value:'', 
                        text:'선택하세요.'
                    }));

                    $.each(nation_options, function(index, option)
                    {
                        if ('<%= session.language %>' == 'KR') {
                            $('#sel_nation').append($('<option>', { 
                                value:option.code, 
                                text:option.kname
                            }));
                        } else {
                            $('#sel_nation').append($('<option>', { 
                                value:option.code, 
                                text:option.ename
                            }));
                        }
                    });
                };

                var GetTelephone = function(nationCode, telephone)
                {
                    var resultValue = '';
                    if (nationCode === '')
                    {
                        resultValue = telephone;
                    }
                    else
                    {
                        telephone = telephone[0] === '0' ? telephone.substring(1) : telephone;
                        resultValue = '+' + nationCode + '-' + telephone;
                    }
                    
                    return resultValue;
                };

                $.ajax({
                    url: "../../nations/status",
                    method: "POST",
                    success: function (data) {
                        if (data === 'NO SESSION') {
                            alert("세션이 만료되었습니다.");
                            window.parent.location.href = "./login";
                        } else if (data === 'NO DATA') {
                            nation_options = [
                                { code:'CN', ename:'China', kname:'중국', country:'86' },
                                { code:'KR', ename:'Republic of Korea', kname:'대한민국', country:'82' },
                                { code:'JP', ename:'Japan', kname:'일본', country:'81' },
                                { code:'US', ename:'United States of America', kname:'미국', country:'1' },
                            ];
                            
                            createNations();
                        } else {
                            if (Array.isArray(data)) {
                                $.each(data, function(index, post) {
                                    nation_options.push({
                                        code:post.nationIso2, 
                                        ename:post.nationEname, 
                                        kname:post.nationKname, 
                                        country:post.nationCode
                                    });
                                });
                                createNations();
                            }
                        }
                    },
                    error: function (xhr, status, error) {
                        alert('서버 요청에 실패하였습니다.');
                    },
                });

                var Search = function() {
                    var companyNo = '<%= companyNo %>';

                    // 행 데이터 출력
                    $.ajax({
                        url: "../../admin/company/detail",
                        method: "POST",
                        data: {
                            companyNo: companyNo,
                        },
                        success: function (data) {
                            if (data === 'NO SESSION') {
                                alert("세션이 만료되었습니다.");
                                window.parent.location.href = "./login";
                            } else if (data === 'NO DATA') {
                                alert("조회된 데이터가 없습니다.");
                            } else {
                                $('#hid_company_no').val(data.companyNo);
                                $('#hid_company_name').val(data.companyName);
                                $('#hid_owner_name').val(data.ownerName);
                                $('#hid_business_no').val(data.businessNo);
                                $('#hid_resident_no').val(data.residentNo);
                                $('#hid_company_div').val(data.companyDiv);
                                $('#hid_nation').val(data.nation);
                                $('#hid_nation_code').val(data.nationCode);
                                $('#hid_telephone').val(data.telephone);
                                $('#hid_post_code').val(data.postCode);
                                $('#hid_business_place').val(data.businessPlace);

                                $('#company_no').text(data.companyNo);
                                $('#company_name').text(data.companyName);
                                $('#owner_name').text(data.ownerName);
                                $('#business_no').text(data.businessNo);
                                $('#resident_no').text(data.residentNo);
                                $('#company_div').text(companyDiv[data.companyDiv]);
                                
                                var option = nation_options.find(option => option.code === data.nation);
                                $('#nation').text(option.kname);
                                $('#nation_code').text(data.nationCode);
                                $('#telephone').text(data.telephone);
                                $('#post_code').text(data.postCode);
                                $('#business_place').text(data.businessPlace);
                            }
                        },
                        error: function (xhr, status, error) {
                            $('#company tbody').empty();

                            var newRow = '<tr><td colspan="7" class="left-align">서버 요청에 실패하였습니다.</td></tr>';
                            $('#company').append(newRow);
                        },
                    });
                };

                $('#btn_modify').click(function() {
                    var companyNo = $('#hid_company_no').val();
                    // 행 데이터 출력
                    $.ajax({
                        url: "../../admin/company/detail",
                        method: "POST",
                        data: {
                            companyNo: companyNo,
                        },
                        success: function (data) {
                            if (data === 'NO SESSION') {
                                alert("세션이 만료되었습니다.");
                                window.parent.location.href = "./login";
                            } else if (data === 'NO DATA') {
                                alert("조회된 데이터가 없습니다.");
                            } else {
                                $('#hid_company_no').val(data.companyNo);
                                $('#txt_company_name').val(data.companyName);
                                $('#txt_owner_name').val(data.ownerName);
                                $('#txt_business_no').val(data.businessNo);
                                $('#txt_resident_no').val(data.residentNo);
                                $('#sel_company_div').val(data.companyDiv);
                                $('#sel_nation').val(data.nation);
                                $('#txt_nation_code').val(data.nationCode);
                                $('#txt_telephone').val(data.telephone);
                                $('#txt_post_code').val(data.postCode);
                                $('#txt_business_place').val(data.businessPlace);

                                $('#modal').show();
                            }
                        },
                        error: function (xhr, status, error) {
                            var newRow = '<tr><td colspan="7" class="left-align">서버 요청에 실패하였습니다.</td></tr>';
                        },
                    });
                });

                $('#btn_delete').click(function() {
                    if (confirm('데이터를 삭제 하시겠습니까?') == true)
                    {
                        var companyNos = [];
                        companyNos.push($('#hid_company_no').val());
                        // 행 데이터 출력
                        $.ajax({
                            url: "../../admin/company/delete",
                            method: "POST",
                            data: {
                                companyNos: companyNos,
                            },
                            success: function (data) {
                                switch (data) {
                                    case "NO SESSION":
                                        alert("세션이 만료되었습니다.");
                                        window.parent.location.href = "./login";
                                    case "FAIL":
                                        alert('데이터 삭제에 실패 하였습니다.');
                                        return;
                                    case "SUCCESS":
                                        alert('데이터 삭제를 완료 하였습니다.');
                                        window.location.href = "../../view/company";
                                        return;
                                }
                            },
                            error: function (xhr, status, error) {
                                alert('서버 요청에 실패하였습니다.');
                            },
                        });
                    }
                });

                // Modal Event And Function
                var ClearModal = function() {
                    $('#hid_company_no').val('');
                    $('#txt_company_name').val('');
                    $('#txt_owner_name').val('');
                    $('#txt_business_no').val('');
                    $('#txt_resident_no').val('');
                    $('#sel_company_div').val('');
                    $('#sel_nation').val('');
                    $('#txt_nation_code').val('');
                    $('#txt_telephone').val('');
                    $('#txt_post_code').val('');
                    $('#txt_business_place').val('');
                };

                $('#sel_nation').change(function() {
                    var value = $(this).val();
                    if (value === '')
                        return;

                    var option = nation_options.find(option => option.code === value);
                    $('#txt_nation_code').val(option.country);
                });

                $('#close').click(function() {
                    $('#modal').hide();
                });

                $('#btn_save').click(function() {
                    if (confirm('데이터를 저장 하시겠습니까?') == true)
                    {
                        var companyNo = $('#hid_company_no').val();
                        var companyName = $('#txt_company_name').val();
                        var ownerName = $('#txt_owner_name').val();
                        var businessNo = $('#txt_business_no').val();
                        var residentNo = $('#txt_resident_no').val();
                        var companyDiv = $('#sel_company_div').val();
                        var nation = $('#sel_nation').val();
                        var nationCode = $('#txt_nation_code').val();
                        var telephone = $('#txt_telephone').val();
                        var postCode = $('#txt_post_code').val();
                        var businessPlace = $('#txt_business_place').val();

                        if (companyName === '') {
                            alert('법인명을 입력하세요.');
                            return;
                        }

                        if ($('#txt_owner_name').val() === '') {
                            alert('대표자명을 입력하세요.');
                            return;
                        }

                        if ($('#sel_company_div').val() === '') {
                            alert('회사구분을 선택하세요.');
                            return;
                        }
                        
                        if ($('#sel_nation').val() === '') {
                            alert('국가를 선택하세요.');
                            return;
                        }
                        
                        if ($('#txt_telephone').val() === '') {
                            alert('연락처를 입력하세요.');
                            return;
                        }

                        $.ajax({
                            url: "../../admin/company/update",
                            method: "POST",
                            data: {
                                companyNo: companyNo,
                                companyName: companyName,
                                ownerName: ownerName,
                                businessNo: businessNo,
                                residentNo: residentNo,
                                companyDiv: companyDiv,
                                nation: nation,
                                telephone: telephone,
                                postCode: postCode,
                                businessPlace: businessPlace,
                            },
                            success: function (data) {
                                switch (data) {
                                    case "NO SESSION":
                                        alert("세션이 만료되었습니다.");
                                        window.parent.location.href = "./login";
                                    case "FAIL":
                                        alert('데이터 저장에 실패 하였습니다.');
                                        return;
                                    case "SUCCESS":
                                        alert('데이터 저장을 완료 하였습니다.');
                                        break;
                                }

                                $('#modal').hide();
                                Search();

                                ClearModal();
                            },
                            error: function (xhr, status, error) {
                                alert('서버 요청에 실패하였습니다.');
                            },
                        });
                    }
                });

                $('#btn_cancel').click(function() {
                    if (confirm('입력을 취소 하시겠습니까?') == true)
                    {
                        $('#modal').hide();
                        
                        ClearModal();
                    }
                });

                Search();
            });
        </script>
    </head>
    <body>
        <form id="company-status-form">
            <input type="hidden" id="hid_company_no"/>
            <input type="hidden" id="hid_company_name"/>
            <input type="hidden" id="hid_owner_name"/>
            <input type="hidden" id="hid_business_no"/>
            <input type="hidden" id="hid_resident_no"/>
            <input type="hidden" id="hid_company_div"/>
            <input type="hidden" id="hid_nation"/>
            <input type="hidden" id="hid_nation_code"/>
            <input type="hidden" id="hid_telephone"/>
            <input type="hidden" id="hid_post_code"/>
            <input type="hidden" id="hid_business_place"/>
            
            <div class="content">
                <div  class="contents-container">
                    <div class="title">고객사 정보</div>
                    <div class="top-right-button">
                        <div class="align-container">
                            <p><input type="button" id="btn_modify" class="status-button" value="수정"/></p>
                            <input type="button" id="btn_delete" class="status-button" value="삭제"/>
                        </div>
                    </div>
                    <div>
                        <table id="company">
                            <tbody>
                                <tr>
                                    <th class="right-align" width="120px">고객사번호</th>
                                    <td id="company_no" width="300"></td>
                                    <th class="right-align" width="120px">법인명</th>
                                    <td id="company_name" width="300"></td>
                                </tr>
                                <tr>
                                    <th class="right-align">대표자명</th>
                                    <td id="owner_name"></td>
                                    <th class="right-align">연락처</th>
                                    <td>
                                        <div class="align-container">
                                            <p id="nation_code"></p>-
                                            <p id="telephone"></p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">사업자등록번호</th>
                                    <td id="business_no"></td>
                                    <th class="right-align">법인등록번호</th>
                                    <td id="resident_no"></td>
                                </tr>
                                <tr>
                                    <th class="right-align">회사구분</th>
                                    <td id="company_div"></td>
                                    <th class="right-align">국가</th>
                                    <td id="nation"></td>
                                </tr>
                                <tr>
                                    <th class="right-align">사업장소재지</th>
                                    <td colspan="3">
                                        <div class="align-container">
                                            <p id="post_code"></p>
                                            <p id="business_place"></p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div></br></br></br>
                <div>
                    <div class="title">위성통신 사용량</div>
                    <div class="satellite-usage-container">
                        <div class="daliy-usage"></div>
                        <div class="monthly-usage"></div>
                    </div>
                </div>
            </div>
        </form>
        <div id="modal" class="modal">
            <div class="modal-content" style="width:630px">
                <div class="contents-container">
                    <span id="close" class="close">&times;</span>
                    <div class="title">고객사 등록</div>
                    <div>
                        <table id="content">
                            <thead>
                                <tr>
                                    <th width="120px" class="right-align">*법인명</th>
                                    <td width="480px" class="left-align">
                                        <input type="text" id="txt_company_name" class="input-text" style="width: 240px;"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th width="120px" class="right-align">*대표자명</th>
                                    <td width="480px" class="left-align">
                                        <input type="text" id="txt_owner_name" class="input-text" style="width: 240px;"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th width="120px" class="right-align">사업자등록번호</th>
                                    <td width="480px" class="left-align">
                                        <input type="text" id="txt_business_no" class="input-text" style="width: 160px;"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th width="120px" class="right-align">법인등록번호</th>
                                    <td width="480px" class="left-align">
                                        <input type="text" id="txt_resident_no" class="input-text" style="width: 160px;"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th width="120px" class="right-align">*회사구분</th>
                                    <td width="480px" class="left-align">
                                        <select id="sel_company_div" class="input-select">
                                            <option value=''>선택하세요.</option> 
                                            <option value='A'>조선사</option> 
                                            <option value='B'>설계회사</option> 
                                            <option value='1'>선사</option> 
                                            <option value='2'>선박관리화사</option> 
                                            <option value='M'>기가재기업</option> 
                                            <option value='P'>파트너사</option> 
                                            <option value='T'>토즈본사</option> 
                                            <option value='Z'>기타</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th width="120px" class="right-align">*국가</th>
                                    <td width="480px" class="left-align">
                                        <select id="sel_nation" class="input-select"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <th width="120px" class="right-align">*연락처</th>
                                    <td width="480px" class="left-align">
                                        <div class="align-container">
                                            <p>+<input type="text" id="txt_nation_code" class="input-text" style="width:30px" readonly/></p>
                                            <input type="text" id="txt_telephone" class="input-text" style="width: 120px;"/>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th width="120px" class="right-align">사업장소재지</th>
                                    <td width="480px" class="left-align">
                                        <div class="align-container">
                                            <p><input type="text" id="txt_post_code" class="input-text" style="width:80px"/></p>
                                            <input type="button" id="btn_search_address" class="input-button" value="주소검색"/>
                                        </div>
                                        <input type="text" id="txt_business_place" class="input-text" style="width:480px"/>
                                    </td>
                                </tr>
                            </thead>
                        </table></br>
                    </div>
                    <div class="bottom-button">
                        <div class="align-container">
                            <p><input type="button" id="btn_save" class="button" value="저장"/></p>
                            <input type="button" id="btn_cancel" class="button" value="취소"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
