<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/public/css/content-styles.css">
        <!--
        <link rel="stylesheet" media="screen and (max-width: 600px)" href="/public/css/styles-small.css">
        <link rel="stylesheet" media="screen and (min-width: 601px) and (max-width: 1024px)" href="/public/css/styles-medium.css">
        <link rel="stylesheet" media="screen and (min-width: 1025px) and (max-width: 2560px)" href="/public/css/styles-large.css">
        -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
        <script src="/public/js/common/common_utility.js"></script>
        <script src="/public/js/common/common_variables.js"></script>
        <script src="/public/js/models/license.js"></script>
        <script>
            $(document).ready(function() {
                var companys = [];
                var nation_options = [];

                $.ajax({
                    url: "../nations/status",
                    method: "POST",
                    success: function (data) {
                        if (data === 'NO SESSION') {
                            alert("세션이 만료되었습니다.");
                            window.parent.location.href = "./login";
                        } else if (data === 'NO DATA') {
                            nation_options = [
                                { code:'CN', ename:'China', kname:'중국', country:'86' },
                                { code:'KR', ename:'Republic of Korea', kname:'대한민국', country:'82' },
                                { code:'JP', ename:'Japan', kname:'일본', country:'81' },
                                { code:'US', ename:'United States of America', kname:'미국', country:'1' },
                            ];
                            
                            CreateNationsCodeSelection($('.nation_code'), nation_options, $('.language').val());
                        } else {
                            if (Array.isArray(data)) {
                                $.each(data, function(index, post) {
                                    nation_options.push({
                                        code:post.nationIso2, 
                                        ename:post.nationEname, 
                                        kname:post.nationKname, 
                                        country:post.nationCode
                                    });
                                });

                                CreateNationsCodeSelection($('.nation_code'), nation_options, $('.language').val());
                            }
                        }
                    },
                    error: function (xhr, status, error) {
                        alert("서버 요청에 실패하였습니다.");
                    },
                });

                $.ajax({
                    url: "../company/codes",
                    method: "POST",
                    success: function (data) {
                        if (data === 'NO SESSION') {
                            alert("세션이 만료되었습니다.");
                            window.parent.location.href = "./login";
                        } else if (data === 'NO DATA') {
                            alert("조회된 데이터가 없습니다.");
                        } else {
                            if (Array.isArray(data)) {
                                $.each(data, function(index, post) {
                                    companys.push({
                                        code:post.companyNo, 
                                        name:post.companyName, 
                                    });
                                });

                                CreateCompanysSelection($('.s_company_no'), companys);
                            }
                        }
                    },
                    error: function (xhr, status, error) {
                        alert('서버 요청에 실패하였습니다.');
                    },
                });
                
                var Search = function() {
                    ClearMember();

                    var companyNo = $('.s_company_no option:selected').val();
                    if (companyNo === '')
                    {
                        alert("고객사를 선택하세요.");
                        return;
                    }

                    $.ajax({
                        url: "../member/status",
                        method: "POST",
                        data: {
                            companyNo: companyNo,
                        },
                        success: function (data) {
                            if (data === 'NO SESSION') {
                                alert("세션이 만료되었습니다.");
                                window.parent.location.href = "./login";
                            } else if (data === 'NO DATA') {
                                var newRow = '<tr><td colspan="8" class="left-align">조회된 데이터가 없습니다.</td></tr>';
                                $('.member tbody').append(newRow);
                            } else {
                                if (Array.isArray(data)) {
                                    $.each(data, function(index, post) {
                                        var newRow = $('.member tbody tr').first().clone().removeClass('hidden');

                                        $(newRow).find('.cell_account_no').text(post.accountNo);
                                        $(newRow).find('.cell_user_name').text(post.userName);
                                        $(newRow).find('.cell_email').text(post.email);
                                        $(newRow).find('.cell_user_type').text(userTypes[post.userType]);
                                        $(newRow).find('.cell_nation_code').text("+" + post.nationCode);
                                        $(newRow).find('.cell_phone_number').text(post.phoneNumber);
                                        $(newRow).find('.cell_use_status').text(post.useStatus);

                                        $('.member tbody').append(newRow);
                                    });
                                }
                            }
                        },
                        error: function (xhr, status, error) {
                            var newRow = '<tr><td colspan="7" class="left-align">서버 요청에 실패하였습니다.</td></tr>';
                            $('.member tbody').append(newRow);
                        },
                    });
                };

                $('.s_company_no').change(function() {
                    Search();
                });

                $('.add').click(function() {
                    ClearModal();

                    var companyNo = $('.s_company_no option:selected').val();
                    var companyName = $('.s_company_no option:selected').text();

                    if (companyNo === '')
                    {
                        alert("고객사를 선택하세요.");
                        return;
                    }

                    var today = new Date();
                    $('.company_no').val(companyNo);
                    $('.company_name').val(companyName);

                    $('.password').attr('readonly', false);
                    $('.password_check').attr('readonly', false);

                    $('.modal').show();
                });

                $('.modify').click(function() {
                    ClearModal();

                    var companyNo = $('.s_company_no').val();
                    if (companyNo === '')
                    {
                        alert("고객사를 선택하세요.");
                        return;
                    }

                    var selectedRow = $(".member tr.selected");
                    if (selectedRow.length > 0) {
                        var accountNo = selectedRow.find('.cell_account_no').text();

                        // 행 데이터 출력
                        $.ajax({
                            url: "../member/detail",
                            method: "POST",
                            data: {
                                companyNo: companyNo,
                                accountNo: accountNo,
                            },
                            success: function (data) {
                                if (data === 'NO SESSION') {
                                    alert("세션이 만료되었습니다.");
                                    window.parent.location.href = "./login";
                                } else if (data === 'NO DATA') {
                                    alert("조회된 데이터가 없습니다.");
                                } else {
                                    $('.company_no').val(data.companyNo);
                                    $('.company_name').val(data.companyName);
                                    $('.account_no').val(data.accountNo);
                                    $('.user_name').val(data.userName);
                                    $('.email').val(data.email);
                                    $('.password').val(data.password);
                                    $('.password_check').val(data.password);
                                    $('.user_type').val(data.userType);
                                    $('.nation_code').val(data.nationCode);
                                    $('.phone_number').val(data.phoneNumber);
                                    $('.use_status').val(data.useStatus);

                                    $('.password').attr('readonly', true);
                                    $('.password_check').attr('readonly', true);
                                    
                                    $('.modal').show();
                                }
                            },
                            error: function (xhr, status, error) {
                               alert('서버 요청에 실패하였습니다.');
                            },
                        });
                    } else {
                        alert("목록에서 행을 선택하세요.");
                    }
                });

                $('.detail').click(function() {
                    var companyNo = $('.s_company_no').val();
                    if (companyNo === '')
                    {
                        alert("고객사를 선택하세요.");
                        return;
                    }

                    var selectedRow = $(".member tr.selected");
                    if (selectedRow.length > 0) {
                        // 선택된 행의 데이터를 배열로 저장
                        var accountNo = selectedRow.find('.cell_account_no').text();
                        
                        window.location.href = "../view/member/detail?companyNo=" + companyNo + "&accountNo=" + accountNo;
                    } else {
                        alert("목록에서 행을 선택하세요.");
                    }
                });

                $('.member tbody').on('click', 'tr', function() {
                    $(this).addClass('selected').siblings().removeClass('selected');
                });

                var ClearMember = function() {
                    const rows = document.querySelectorAll(".member tbody tr:not(:first-child)");
                    rows.forEach(row => {
                        row.remove();
                    });
                }
                // Modal Event And Function
                var ClearModal = function() {
                    $('.account_no').val('');
                    $('.user_name').val('');
                    $('.email').val('');
                    $('.password').val('');
                    $('.password_check').val('');
                    $('.user_type').val('');
                    $('.nation_code').val('');
                    $('.phone_number').val('');
                    $('.use_status').val('');
                };

                $('.close').click(function() {
                    $('.modal').hide();
                });

                $('.save').click(function() {
                    if (confirm('데이터를 저장 하시겠습니까?') == true)
                    {
                        if ($('.user_name').val() === '') {
                            alert('사용자명을 입력하세요.');
                            return;
                        }

                        if ($('.password').val() === '') {
                            alert('비밀번호를 입력하세요.');
                            return;
                        }

                        if ($('.password_check').val() === '') {
                            alert('비밀번호 확인을 입력하세요.');
                            return;
                        }

                        if ($('.password').val() != $('.password_check').val()) {
                            alert('비밀번호가 일치하지 않습니다.');
                            return;
                        }
                        
                        if ($('.email').val() === '') {
                            alert('이메일을 입력하세요.');
                            return;
                        }
                        
                        if ($('.user_type').val() === '') {
                            alert('회원유형을 선택하세요.');
                            return;
                        }
                        
                        if ($('.use_status').val() === '') {
                            alert('사용여부를 선택하세요.');
                            return;
                        }

                        var companyNo = $('.company_no').val();
                        var accountNo = $('.account_no').val();
                        var userName = $('.user_name').val();
                        var email = $('.email').val();
                        var password = $('.password').val();
                        var userType = $('.user_type').val();
                        var nationCode = $('.nation_code').val();
                        var phoneNumber = $('.phone_number').val();
                        var useStatus = $('.use_status').val();

                        var url = "../member/insert";
                        if (accountNo === ''){
                            url = "../member/insert";
                        } else {
                            url = "../member/update";
                        }

                        $.ajax({
                            url: url,
                            method: "POST",
                            data: {
                                companyNo: companyNo, 
                                accountNo: accountNo,
                                userName: userName,
                                email: email,
                                password: password,
                                userType: userType,
                                nationCode: nationCode,
                                phoneNumber: phoneNumber,
                                useStatus: useStatus,
                            },
                            success: function (data) {
                                switch (data) {
                                    case "NO SESSION":
                                        alert("세션이 만료되었습니다.");
                                        window.parent.location.href = "./login";
                                        return;
                                    case "FAIL":
                                        alert('데이터 저장에 실패 하였습니다.');
                                        return;
                                    case "SUCCESS":
                                        alert('데이터 저장을 완료 하였습니다.');
                                        break;
                                }

                                $('.modal').hide();
                                Search();
                                
                                ClearModal();
                            },
                            error: function (xhr, status, error) {
                                alert('서버 요청에 실패하였습니다.');
                            },
                        });
                    }
                });

                $('.cancel').click(function() {
                    if (confirm('입력을 취소 하시겠습니까?') == true)
                    {
                        $('.modal').hide();
                        
                        ClearModal();
                    }
                });
                
                CreateVariablesSelection($('.user_type'), userTypes);
                CreateVariablesSelection($('.use_status'), useStatus);
            });
        </script>
    </head>
    <body>
        <form class="company-detail-form">
            <div class="content">
                <div>
                    <div class="title">조회 조건</div>
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th width="120px" class="right-align">고객사</th>
                                    <td class="left-align">
                                        <select class="s_company_no" style="width:240px;">
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div></br></br></br>
                <div class="contents-container">
                    <div class="title">사용자 목록</div>
                    <div class="top-right-button">
                        <div class="align-container">
                            <p><input type="button" class="add" value="등록"/></p>
                            <p><input type="button" class="modify" value="수정"/></p>
                            <input type="button" class="detail" value="상세보기"/>
                        </div>
                    </div>
                    <div>
                        <table class="member">
                            <thead>
                                <tr>
                                    <th width="100px">계정번호</th>
                                    <th width="220px">사용자명</th>
                                    <th width="240px">이메일</th>
                                    <th width="140px">회원유형</th>
                                    <th width="80px">국가코드</th>
                                    <th width="120px">연락처</th>
                                    <th width="80px">사용여부</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="hidden">
                                    <td class="cell_account_no" style="text-align:center;"></td>
                                    <td class="cell_user_name" style="text-align:left;"></td>
                                    <td class="cell_email" style="text-align:left;"></td>
                                    <td class="cell_user_type" style="text-align:center;"></td>
                                    <td class="cell_nation_code" style="text-align:center;"></td>
                                    <td class="cell_phone_number" style="text-align:center;"></td>
                                    <td class="cell_use_status" style="text-align:center;"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
        <div class="modal">
            <div class="modal-content" style="width:640px">
                <div class="contents-container">
                    <span class="close">&times;</span>
                    <div class="title">사용자 관리</div>
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th width="120px" class="right-align">*고객사</th>
                                    <td width="540px" class="left-align">
                                        <input type="hidden" class="company_no"/>
                                        <input type="text" class="company_name" style="width: 240px;" readonly/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*사용자명</th>
                                    <td class="left-align">
                                        <input type="hidden" class="account_no"/>
                                        <input type="text" class="user_name" style="width: 240px;"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*이메일</th>
                                    <td class="left-align">
                                        <input type="text" class="email" style="width: 240px;"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*비밀번호</th>
                                    <td class="left-align">
                                        <input type="password" class="password" style="width: 160px;"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*비밀번호확인</th>
                                    <td class="left-align">
                                        <input type="password" class="password_check" style="width: 160px;"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*회원유형</th>
                                    <td class="left-align">
                                        <select class="user_type"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">국가코드</th>
                                    <td class="left-align">
                                        <select class="nation_code"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">연락처</th>
                                    <td class="left-align">
                                        <input type="text" class="phone_number" style="width: 160px;"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*사용여부</th>
                                    <td class="left-align">
                                        <select class="use_status"></select>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div></br>
                    <div class="bottom-button">
                        <div class="align-container">
                            <p><input type="button" class="save" value="저장"/></p>
                            <input type="button" class="cancel" value="취소"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
