<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/public/css/styles.css">
        <link rel="stylesheet" media="screen and (max-width: 720px)" href="/public/css/styles-small.css">
        <link rel="stylesheet" media="screen and (min-width: 721px) and (max-width: 1280px)" href="/public/css/styles-medium.css">
        <link rel="stylesheet" media="screen and (min-width: 1281px)" href="/public/css/styles-large.css">
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <title>Main</title>
    </head>
    <body>
        <header>
            <div class="top-menu">
                <object id="top-menu" data="./top-menu"></object>
            </div>
        </header>
        <div class="container">
            <div class="sidebar">
                <object id="sidebar" data="./sidebar"></object>
            </div>
            <div class="content">
                <iframe id="content-frame"></iframe>
            </div>
        </div>
    </body>
</html>
