<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/public/css/styles.css">
        <!--
        <link rel="stylesheet" media="screen and (max-width: 600px)" href="/public/css/styles-small.css">
        <link rel="stylesheet" media="screen and (min-width: 601px) and (max-width: 1024px)" href="/public/css/styles-medium.css">
        <link rel="stylesheet" media="screen and (min-width: 1025px) and (max-width: 2560px)" href="/public/css/styles-large.css">
        -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
        <script>
            $(document).ready(function() {
                $('.side-menu div').each(function() {
                    if ($(this).attr('id') === $('#menu_id').val()) {
                        $(this).addClass('side-menu-selected');
                    }
                });

                $('.menu-item').click(function() {
                    $('.menu-selected').removeClass('menu-selected');
                    $(this).addClass('menu-selected');

                    var submenu = $(this).next('.submenu');
                    $('.submenu').not(submenu).slideUp();
                    submenu.slideToggle();

                    if ($(this).attr('id') === 'contract_parent')
                        return;

                    parent.onSelectMenu($(this).attr('id'));
                });

                $('.submenu-item').click(function() {
                    $('.submenu-selected').removeClass('submenu-selected');
                    $(this).addClass('submenu-selected');
                    
                    parent.onSelectMenu($(this).attr('id'));
                });
            });
        </script>
    </head>
    <body>
        <form id="sidebar-form">
            <input type="hidden" id="menu_id" value="<%=session.menuId%>"/>
            <div class="menu">
                <div id="dashboard" class="menu-item">홈</div>
                <div id="company" class="menu-item">고객사관리</div>
                <div id="contract_parent" class="menu-item">계약관리</div>
                <div class="submenu">
                    <div id="contract" class="submenu-item">- 계약관리</div>
                    <div id="contract_manager" class="submenu-item">- 계약관리자</div>
                    <div id="contract_user" class="submenu-item">- 계약사용자</div>
                    <div id="termination" class="submenu-item">- 계약해지</div>
                </div>
            </div>
        </form>
    </body>
</html>
