<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/public/css/styles.css">
        <!--
        <link rel="stylesheet" media="screen and (max-width: 600px)" href="/public/css/styles-small.css">
        <link rel="stylesheet" media="screen and (min-width: 601px) and (max-width: 1024px)" href="/public/css/styles-medium.css">
        <link rel="stylesheet" media="screen and (min-width: 1025px) and (max-width: 2560px)" href="/public/css/styles-large.css">
        -->
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <title>Main</title>
        <script>
            $(document).ready(function() {
                window.onSelectMenu = function(menuId) {
                    $.ajax({
                        url: "../session",
                        method: "POST",
                        success: function (data) {
                            switch (data) {
                                case "SESSION":
                                    $('.content-frame').attr('src', menuId);
                                    break;
                                case "NO SESSION":
                                    alert("세션이 만료되었습니다.");
                                    window.parent.location.href = "./login";
                                    break;
                            }
                        },
                        error: function (xhr, status, error) {
                            alert("서버 요청에 실패했습니다.");
                            window.location.href = "./login";
                        },
                    });
                }
            });
        </script>
    </head>
    <body>
        <header>
            <div class="top-menu">
                <object data="./topmenu"></object>
            </div>
        </header>
        <div class="container">
            <div class="sidebar">
                <object data="./sidebar"></object>
            </div>
            <div class="content">
                <iframe class="content-frame" src="./dashboard"></iframe>
            </div>
        </div>
    </body>
</html>
