<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/public/css/styles-figma.css">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
        <title>Main</title>
        <script>
            $(document).ready(function() {
                window.onSelectMenu = function(menuId) {
                    $.ajax({
                        url: "../session",
                        method: "POST",
                        success: function (data) {
                            switch (data) {
                                case "SESSION":
                                    $('.contents-frame').attr('src', menuId);
                                    break;
                                case "NO SESSION":
                                    alert("<%=t('message(session expires)')%>");
                                    window.parent.location.href = "./login";
                                    break;
                            }
                        },
                        error: function (xhr, status, error) {
                            alert("<%=t('message(request failed)')%>");
                            window.location.href = "./login";
                        },
                    });
                }
                
                window.toggleLanguage = function(isOn) {
                    if (isOn) {
                        $('.topmenu-object').css('height', '220px');
                    } else {
                        $('.topmenu-object').css('height', '84px');
                    }
                }
            });
        </script>
    </head>
    <body>
        <div class="container">
            <div class="sidebar">
                <object class="sidebar-contents" data="./sidebar"></object>
            </div>
            <div class="topmenu">
                <object class="topmenu-object" data="./topmenu"></object>
            </div>
            <div class="main-contents">
                <iframe class="contents-frame" src="./dashboard"></iframe>
            </div>
        </div>
    </body>
</html>
