<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/public/css/content-styles.css">
        <!--
        <link rel="stylesheet" media="screen and (max-width: 600px)" href="/public/css/styles-small.css">
        <link rel="stylesheet" media="screen and (min-width: 601px) and (max-width: 1024px)" href="/public/css/styles-medium.css">
        <link rel="stylesheet" media="screen and (min-width: 1025px) and (max-width: 2560px)" href="/public/css/styles-large.css">
        -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
        <script src="/public/js/common/common_utility.js"></script>
        <script src="/public/js/common/common_variables.js"></script>
        <script src="/public/js/models/license.js"></script>
        <script>
            $(document).ready(function() {
                var users = [];
                var contracts = [];

                var companyNo = $('.s_company_no').val();
                $.ajax({
                    url: "../contract/codes",
                    method: "POST",
                    data: {
                        companyNo: companyNo,
                    },
                    success: function (data) {

                        if (data === 'NO SESSION') {
                            alert("세션이 만료되었습니다.");
                            window.parent.location.href = "./login";
                        } else if (data === 'NO DATA') {
                            alert("조회된 데이터가 없습니다.");
                        } else {
                            if (Array.isArray(data)) {
                                $.each(data, function(index, post) {
                                    contracts.push({
                                        code:post.contractNo, 
                                        name:post.contractName, 
                                    });
                                });

                                createSelection($('.s_contract_no'), contracts);
                            }
                        }
                    },
                    error: function (xhr, status, error) {
                        alert('서버 요청에 실패하였습니다.');
                    },
                });

                $.ajax({
                    url: "../member/status",
                    method: "POST",
                    data: {
                        companyNo: companyNo,
                    },
                    success: function (data) {

                        if (data === 'NO SESSION') {
                            alert("세션이 만료되었습니다.");
                            window.parent.location.href = "./login";
                        } else if (data === 'NO DATA') {
                            alert("조회된 데이터가 없습니다.");
                        } else {
                            if (Array.isArray(data)) {
                                $.each(data, function(index, post) {
                                    users.push({
                                        code:post.accountNo, 
                                        name:post.userName, 
                                    });
                                });

                                createSelection($('.account_no'), users);
                            }
                        }
                    },
                    error: function (xhr, status, error) {
                        alert('서버 요청에 실패하였습니다.');
                    },
                });
                
                var SearchLicense = function() {
                    ClearLicense();

                    var companyNo = $('.s_company_no').val();
                    var contractNo = $('.s_contract_no option:selected').val();
                    if (contractNo === '')
                    {
                        alert("계약을 선택하세요.");
                        return;
                    }

                    $.ajax({
                        url: "../license/status",
                        method: "POST",
                        data: {
                            companyNo: companyNo,
                            contractNo: contractNo,
                        },
                        success: function (data) {

                            if (data === 'NO SESSION') {
                                alert("세션이 만료되었습니다.");
                                window.parent.location.href = "./login";
                            } else if (data === 'NO DATA') {
                                var newRow = '<tr><td colspan="8" class="left-align">조회된 데이터가 없습니다.</td></tr>';
                                $('.license tbody').append(newRow);
                            } else {
                                if (Array.isArray(data)) {
                                    $.each(data, function(index, post) {
                                        var newRow = $('.license tbody tr').first().clone().removeClass('hidden');

                                        $(newRow).find('.cell_license_no').text(post.licenseNo);
                                        $(newRow).find('.cell_license_type').text(licenseTypes[post.licenseType]);
                                        $(newRow).find('.cell_app_name').text(appNames[post.appName]);
                                        $(newRow).find('.cell_start_date').text(post.startDate);
                                        $(newRow).find('.cell_end_date').text(post.endDate);
                                        $(newRow).find('.cell_license_count').text(post.licenseCount);
                                        $(newRow).find('.cell_unit_price').text(post.unitPrice);
                                        $(newRow).find('.cell_amount').text(formatCurrency(post.amount));
                                        $(newRow).find('.cell_discounted_amount').text(formatCurrency(post.discountedAmount));
                                        $(newRow).find('.cell_actual_amount').text(formatCurrency(post.actualAmount));

                                        $('.license tbody').append(newRow);
                                    });
                                }
                            }
                        },
                        error: function (xhr, status, error) {
                            var newRow = '<tr><td colspan="7" class="left-align">서버 요청에 실패하였습니다.</td></tr>';
                            $('.license tbody').append(newRow);
                        },
                    });
                };
                
                var SearchLicenseUsers = function() {
                    ClearUsers();

                    var companyNo = $('.s_company_no').val();
                    var contractNo = $('.s_contract_no option:selected').val();
                    if (contractNo === '')
                    {
                        alert("계약을 선택하세요.");
                        return;
                    }

                    var selectedRow = $('.license tr.selected');
                    if (selectedRow.length > 0) {
                        var licenseNo = selectedRow.find('.cell_license_no').text();

                        $.ajax({
                            url: "../license/users",
                            method: "POST",
                            data: {
                                companyNo: companyNo,
                                contractNo: contractNo,
                                licenseNo: licenseNo,
                            },
                            success: function (data) {

                                if (data === 'NO SESSION') {
                                    alert("세션이 만료되었습니다.");
                                    window.parent.location.href = "./login";
                                } else if (data === 'NO DATA') {
                                    var newRow = '<tr><td colspan="8" class="left-align">조회된 데이터가 없습니다.</td></tr>';
                                    $('.users tbody').append(newRow);
                                } else {
                                    if (Array.isArray(data)) {
                                        $.each(data, function(index, post) {
                                            var newRow = $('.users tbody tr').first().clone().removeClass('hidden');

                                            $(newRow).find('.cell_account_no').text(post.accountNo);
                                            $(newRow).find('.cell_user_name').text(post.userName);
                                            $(newRow).find('.cell_email').text(post.email);
                                            $(newRow).find('.cell_user_type').text(userTypes[post.userType]);
                                            $(newRow).find('.cell_nation_code').text("+" + post.nationCode);
                                            $(newRow).find('.cell_phone_number').text(post.phoneNumber);
                                            $(newRow).find('.cell_use_status').text(post.useStatus);

                                            $('.users tbody').append(newRow);
                                        });
                                    }
                                }
                            },
                            error: function (xhr, status, error) {
                                var newRow = '<tr><td colspan="7" class="left-align">서버 요청에 실패하였습니다.</td></tr>';
                                $('.users tbody').append(newRow);
                            },
                        });
                    } else {
                        alert("라이센스 목록에서 행을 선택하세요.");
                    }
                };

                $('.s_contract_no').change(function() {
                    SearchLicense();
                });

                $('.add').click(function() {
                    ClearModal();

                    var companyNo = $('.s_company_no').val();
                    var companyName = $('.s_company_name').val();
                    var contractNo = $('.s_contract_no option:selected').val();
                    var contractName = $('.s_contract_no option:selected').text();

                    if (contractNo === '')
                    {
                        alert("계약을 선택하세요.");
                        return;
                    }

                    var selectedRow = $('.license tr.selected');
                    if (selectedRow.length > 0) {
                        
                        var licenseCount = selectedRow.find('.cell_license_count').text();
                        var count = $('.license tbody tr').length;
                        if (count - 1 == licenseCount) {
                            alert('라이센스 수량을 전부 사용하여 추가 사용자 등록이 불가능합니다.');
                            return;
                        }

                        var licenseNo = selectedRow.find('.cell_license_no').text();

                        $('.company_no').val(companyNo);
                        $('.company_name').val(companyName);
                        $('.contract_no').val(contractNo);
                        $('.contract_name').val(contractName);
                        $('.license_no').val(licenseNo);

                        $('.modal').show();
                    } else {
                        alert("라이센스 목록에서 행을 선택하세요.");
                    }
                });

                $('.delete').click(function() {
                    if (confirm("데이터를 삭제하시겠습니까?") == false)
                        return;

                    var companyNo = $('.s_company_no').val();
                    var contractNo = $('.s_contract_no option:selected').val();

                    if (contractNo === '')
                    {
                        alert("계약을 선택하세요.");
                        return;
                    }

                    var selectedRow = $('.license tr.selected');
                    if (selectedRow.length > 0) {
                        var licenseNo = selectedRow.find('.cell_license_no').text();

                        var userSelectedRow = $('.users tr.selected');
                        if (userSelectedRow.length > 0) {
                            var accountNo = userSelectedRow.find('.cell_account_no').text();
                            
                            $.ajax({
                                url: "../license/users/delete",
                                method: "POST",
                                data: {
                                    companyNo: companyNo,
                                    contractNo: contractNo,
                                    licenseNo: licenseNo,
                                    accountNo: accountNo,
                                },
                                success: function (data) {
                                    switch (data) {
                                        case "NO SESSION":
                                            alert("세션이 만료되었습니다.");
                                            window.parent.location.href = "./login";
                                            return;
                                        case "FAIL":
                                            alert('데이터 삭제에 실패 하였습니다.');
                                            return;
                                        case "SUCCESS":
                                            alert('데이터 삭제를 완료 하였습니다.');
                                            break;
                                    }

                                    SearchLicenseUsers();
                                },
                                error: function (xhr, status, error) {
                                    alert('서버 요청에 실패하였습니다.');
                                },
                            });
                        } else {
                            alert("사용자 목록에서 행을 선택하세요.");
                        }
                    } else {
                        alert("라이센스 목록에서 행을 선택하세요.");
                    }
                });

                $('.license tbody').on('click', 'tr', function() {
                    $(this).addClass('selected').siblings().removeClass('selected');

                    SearchLicenseUsers();
                });

                $('.users tbody').on('click', 'tr', function() {
                    $(this).addClass('selected').siblings().removeClass('selected');
                });

                var ClearLicense = function() {
                    const rows = document.querySelectorAll(".license tbody tr:not(:first-child)");
                    rows.forEach(row => {
                        row.remove();
                    });
                }

                var ClearUsers = function() {
                    const rows = document.querySelectorAll(".users tbody tr:not(:first-child)");
                    rows.forEach(row => {
                        row.remove();
                    });
                }

                // Modal Event And Function
                var ClearModal = function() {
                    $('.company_no').val('');
                    $('.company_name').val('');
                    $('.contract_no').val('');
                    $('.contract_name').val('');
                    $('.license_no').val('');
                    $('.account_no').val('');
                };

                $('.close').click(function() {
                    $('.modal').hide();
                });

                $('.account_no').change(function() {
                    var accountNo = $(this).val();
                    $('.users tbody tr').each(function() {
                        if ($(this).find('.cell_account_no').text() === accountNo) {
                            alert("이미 등록된 사용자 입니다.");

                            $('.account_no').val('');
                            return false;
                        }
                    });
                });

                $('.save').click(function() {
                    if (confirm('데이터를 저장 하시겠습니까?') == true)
                    {
                        if ($('.account_no').val() === '') {
                            alert('사용자를 선택하세요.');
                            return;
                        }

                        var companyNo = $('.company_no').val();
                        var contractNo = $('.contract_no').val();
                        var licenseNo = $('.license_no').val();
                        var accountNo = $('.account_no').val();

                        $.ajax({
                            url: "../license/users/insert",
                            method: "POST",
                            data: {
                                companyNo: companyNo,
                                contractNo: contractNo,
                                licenseNo: licenseNo,
                                accountNo: accountNo,
                            },
                            success: function (data) {
                                switch (data) {
                                    case "NO SESSION":
                                        alert("세션이 만료되었습니다.");
                                        window.parent.location.href = "./login";
                                        return;
                                    case "FAIL":
                                        alert('데이터 저장에 실패 하였습니다.');
                                        return;
                                    case "SUCCESS":
                                        alert('데이터 저장을 완료 하였습니다.');
                                        break;
                                }

                                $('.modal').hide();
                                SearchLicenseUsers();
                                
                                ClearModal();
                            },
                            error: function (xhr, status, error) {
                                alert('서버 요청에 실패하였습니다.');
                            },
                        });
                    }
                });

                $('.cancel').click(function() {
                    if (confirm('입력을 취소 하시겠습니까?') == true)
                    {
                        $('.modal').hide();
                        
                        ClearModal();
                    }
                });
            });
        </script>
    </head>
    <body>
        <form class="company-detail-form">
            <div class="content">
                <div>
                    <div class="title">조회 조건</div>
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th width="120px" class="right-align">고객사</th>
                                    <td class="left-align">
                                        <input type="hidden" class="s_company_no" value="<%= session.user.companyNo %>"/>
                                        <input type="text" class="s_company_name" value="<%= session.user.companyName %>" style="width: 240px;" readonly/>
                                    </td>
                                    <th width="120px" class="right-align">계약</th>
                                    <td class="left-align">
                                        <select class="s_contract_no" style="width:240px;">
                                            <option value="">선택하세요.</option>
                                        </select>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div></br></br>
                <div class="contents-container">
                    <div class="title">라이센스 목록</div>
                    <div>
                        <table class="license">
                            <thead>
                                <tr>
                                    <th width="100px">라이센스번호</th>
                                    <th width="140px">타입</th>
                                    <th width="140px">프로그램</th>
                                    <th width="240px">기간</th>
                                    <th width="60px">수량</th>
                                    <th width="90px">단가</th>
                                    <th width="110px">금액</th>
                                    <th width="110px">할인금액</th>
                                    <th width="110px">실금액</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="hidden">
                                    <td class="cell_license_no" style="text-align: center;"></td>
                                    <td class="cell_license_type" style="text-align: left;"></td>
                                    <td class="cell_app_name" style="text-align: center;"></td>
                                    <td>
                                        <div class="align-container-center">
                                            <p class="cell_start_date"></p>
                                            <p class="">~</p>
                                            <p class="cell_end_date"></p>
                                        </div></td>
                                    </td>
                                    <td class="cell_license_count" style="text-align: right;"></td>
                                    <td class="cell_unit_price" style="text-align: right;"></td>
                                    <td class="cell_amount" style="text-align: right;"></td>
                                    <td class="cell_discounted_amount" style="text-align: right;"></td>
                                    <td class="cell_actual_amount" style="text-align: right;"></td>
                                </tr>
                                <tr>
                                    <td colspan="9">데이터를 조회하세요.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div></br></br>
                <div class="contents-container">
                    <div class="title">사용자 목록</div>
                    <div class="top-right-button">
                        <div class="align-container">
                            <p><input type="button" class="add" value="등록"/></p>
                            <input type="button" class="delete" value="삭제"/>
                        </div>
                    </div>
                    <div>
                        <table class="users">
                            <thead>
                                <tr>
                                    <th width="100px">계정번호</th>
                                    <th width="220px">사용자명</th>
                                    <th width="280px">이메일</th>
                                    <th width="160px">회원유형</th>
                                    <th width="100px">국가코드</th>
                                    <th width="140px">연락처</th>
                                    <th width="100px">사용여부</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="hidden">
                                    <td class="cell_account_no" style="text-align:center;"></td>
                                    <td class="cell_user_name" style="text-align:left;"></td>
                                    <td class="cell_email" style="text-align:left;"></td>
                                    <td class="cell_user_type" style="text-align:center;"></td>
                                    <td class="cell_nation_code" style="text-align:center;"></td>
                                    <td class="cell_phone_number" style="text-align:center;"></td>
                                    <td class="cell_use_status" style="text-align:center;"></td>
                                </tr>
                                <tr>
                                    <td colspan="7">데이터를 조회하세요.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
        <div class="modal">
            <div class="modal-content" style="width:520px">
                <div class="contents-container">
                    <span class="close">&times;</span>
                    <div class="title">라이센스 사용자 관리</div>
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th width="120px" class="right-align">*고객사</th>
                                    <td width="400px" class="left-align">
                                        <input type="hidden" class="company_no"/>
                                        <input type="text" class="company_name" style="width: 240px;" readonly/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*계약명</th>
                                    <td class="left-align">
                                        <input type="hidden" class="contract_no"/>
                                        <input type="text" class="contract_name" style="width: 380px;" readonly/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*라이센스번호</th>
                                    <td class="left-align">
                                        <input type="text" class="license_no" style="width: 160px;" readonly/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*사용자</th>
                                    <td class="left-align">
                                        <select class="account_no" style="width: 160px;"/>
                                    </td>
                                </tr>
                            </thead>
                        </table></br>
                    </div></br>
                    <div class="bottom-button">
                        <div class="align-container">
                            <p><input type="button" class="save" value="저장"/></p>
                            <input type="button" class="cancel" value="취소"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
